* {
  margin: 0;
  padding: 0;
  color: #212121;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 32px;
  width: 84px;
  background-color: #FFFFFF;
  height: 100vh;
  position: fixed;
  transition: width 0.3s ease, padding 0.3s ease;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1);
}

.sidebar.expanded {
  width: 250px;
}

.sidebar-header {
  display: flex;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
}

.sidebar-menu li {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
}

.sidebar-menu li img {
  margin-right: 10px;
}

.sidebar-menu li span {
  display: none;
}

.sidebar.expanded .sidebar-menu li span {
  display: flex;
  white-space: nowrap;
}

.logout {
  cursor: pointer;
}

.logout span {
  text-decoration: none;
  color: #F93C65;
  font-weight: bold;
}

/**burger**/
.top-bar {
  display: none;
}

@media (max-width: 768px) {

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    z-index: 1000;
    position: relative;
  }

  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;

  }

  .sidebar.expanded {
    padding:20px;
    width: 270px;
  }

  .burger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1500;
  }

  .sidebar.expanded .sidebar-menu li span,
  .sidebar.expanded .logout,
  .sidebar.expanded .sidebar-header img.logo {
    display: block;
  }
}
