<div class="top-bar" *ngIf="isMobileSidebarOpen">
  <div class="burger-menu" (click)="toggleMobileSidebar()">☰</div>
  <img src="assets/images/navbar-Kursant.svg" alt="KursAnt" class="logo" />
</div>

<div class="sidebar" [ngClass]="{'expanded': isExpanded || isMobileSidebarOpen}"
     (mouseenter)="toggleExpand(true)" (mouseleave)="toggleExpand(false)">
  <div class="sidebar-header" *ngIf="!isMobileSidebarOpen;">
    <img *ngIf="isExpanded || isMobileSidebarOpen; else collapsedLogo" src="assets/images/navbar-Kursant.svg" alt="KursAnt" class="logo">
    <ng-template #collapsedLogo>
      <img src="assets/images/KursAnt.svg" alt="KursAnt Collapsed" class="collapsed-logo">
    </ng-template>
  </div>
  <ul class="sidebar-menu">
    <li *ngFor="let item of menuItems" (click)="navigate(item.link)">
      <img [src]="item.icon" alt="{{ item.name }}"/>
      <span *ngIf="isExpanded || isMobileSidebarOpen">{{ item.name }}</span>
    </li>
  </ul>
  <div class="logout" *ngIf="isExpanded || isMobileSidebarOpen">
    <span (click)="navigate('/logout')">Шығу</span>
  </div>
</div>
