<div *ngIf="!isDeadlinesOpened">
<div class="edit-course-header">
  <div class="header-text">
    <img src="assets/images/back-arrow.svg" alt="back" (click)="navigateToCourses()">
    <h3> Поток #{{ flowIndex }} </h3>
  </div>
  <div class="course-actions">
    <button class="edit-course-btn">Редактировать</button>
  </div>
</div>

<div class="edit-course-page">
  <div class="flow-page-container" *ngFor="let course of courses">

    <div class="flow-card-header">
      <h4>{{ course.name }}</h4>
      <button class="flow-card-button" (click)="navigateToDeadlines(course.course_id)">
        <img src="assets/images/settings-icon.svg" alt="settings">
        Настроить дедлайны
      </button>
    </div>
    <div class="flow-card">
      <p>Кураторы</p>
      <div class="curator-list">
        <div class="curator-inputs" *ngFor="let curator of course.curators; let i = index">
          <div class="curator">
            {{ curator.fullname }}
          </div>
          <button class="delete-curator" (click)="removeCurator(curator.curator_id)">
            <i class="pi pi-times"></i>
          </button>
        </div>
      </div>
      <button class="add-curator" (click)="showAddDialog(course.course_id)">Добавить куратора</button>
    </div>
  </div>
</div>
<p-dialog class="test-modal" header="Добавить куратора" [modal]="true"
          [(visible)]="AddCuratorVisible" draggable="false">
  <form [formGroup]="addCuratorForm" class="client-edit__form">
    <div class="form-group">
      <label class="form-label">Куратор</label>
      <select class="flow-dropdown" formControlName="curator_id">
        <option *ngFor="let curator of curators" [value]="curator.id" class="flow-options">
          <div class="flow-options">{{ curator.fullname }}</div>
        </option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn start-btn" (click)="addCurator()">Добавить</button>
      <button class="btn back-btn" (click)="AddCuratorVisible = false">Отмена</button>
    </div>
  </form>
</p-dialog>
</div>
<div *ngIf="isDeadlinesOpened">
  <router-outlet></router-outlet>
</div>
