<div *ngIf="!isTemaOpened">
  <div class="edit-course-header">
    <div class="header-text">
      <img src="assets/images/back-arrow.svg" alt="back" (click)="back()">
      <h3>Бөлім 1. Қазақстандағы ежелгі адамдардың өмірі</h3>
    </div>
    <div class="course-actions">
      <button class="delete-course-btn">Удалить модуль</button>
    </div>
  </div>
  <div class="edit-course-page">

    <div class="edit-course-container">
      <h4>Темы</h4>
      <div class="modules">
        <div class="module" *ngFor="let tema of temas" (click)="navigateToEditTema(tema.id)">
          <span> <strong>Тақырып {{ tema.id }}.</strong> {{ tema.name }}</span>
          <button class="edit-module-btn" (click)="showEditDialog()">
            <img src="assets/images/edit-icon.svg" alt="edit">
          </button>
        </div>
      </div>
      <button class="add-module-btn">Добавить тему</button>
    </div>
  </div>

  <p-dialog class="test-modal" header="Редактировать модуль" [modal]="true" [(visible)]="EditModuleVisible"
            draggable="false">
    <form class="client-edit__form">
      <div class="form-group">
        <label for="name" class="form-label">Название</label>
        <input type="text" id="name" class="form-input">
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn start-btn">Редактировать</button>
      <button class="btn back-btn" (click)="EditModuleVisible = false">Отмена</button>
    </div>
  </p-dialog>
</div>

<div *ngIf="isTemaOpened">
  <router-outlet></router-outlet>
</div>

