<div class="main-page">
  <div class="content-wrapper">
    <div class="content" >

      <div class="custom-today-header">
        <div class="today-header">
          {{ currentDate | date: 'd' }} {{ currentDate | date: 'MMMM' : 'kk' }}
        </div>
      </div>

      <div class="calendar-navigation">
        <button class="arrow-button left-arrow" (click)="previousWeek()">
          &#9664;
        </button>

        <div class="calendar-container">
          <ng-template #emptyHeaderTemplate>
            <div class="custom-header">
              <div *ngFor="let day of getWeekDays()"
                   class="custom-header-day"
                   [ngClass]="{'current-day': isToday(day)}">
                <div class="day-number">{{ day | date: 'd' }}</div>
                <div class="day-month">{{ day | date: 'MMMM' : 'kk' }}</div>
              </div>
            </div>
          </ng-template>

          <div class="calendar-week-view" *ngIf="events && events.length > 0">
            <mwl-calendar-week-view
              [hourSegmentHeight]="60"
              [hourSegments]="2"
              [viewDate]="viewDate"
              [events]="events"
              [locale]="'kk'"
              [weekStartsOn]="1"
              [refresh]="refresh$"
              [headerTemplate]="emptyHeaderTemplate"
              [eventTemplate]="customEventTemplate"
              (beforeViewRender)="handleBeforeViewRender($event)">
            </mwl-calendar-week-view>
          </div>


          <ng-template #customEventTemplate let-weekEvent="weekEvent">
            <div *ngIf="weekEvent; else noEventTemplate" class="custom-event" (click)="onEventClicked(weekEvent.event)"
                 [ngStyle]="{
                 'border-color': weekEvent.event.color?.primary || '#6E63E5', 'color':weekEvent.event.color?.primary || '#6E63E5',
                 'background': 'linear-gradient(to bottom, ' + (weekEvent.event.color?.secondary || '#D4D0FF') + ' 0%, ' + (weekEvent.event.color?.secondary || '#D4D0FF') + ' 41%, #FFFFFF 100%)'
               }">
              <div class="event-title">
                <ng-container *ngFor="let line of (weekEvent.event.title || '').split('\n')">
                  <div class="title-line">{{ line }}</div>
                </ng-container>
                <div class="event-time">
                  {{ weekEvent.event.start ? (weekEvent.event.start | date: 'HH:mm') : 'No start time' }} -
                  {{ weekEvent.event.end ? (weekEvent.event.end | date: 'HH:mm') : 'No end time' }}
                </div>
              </div>
              <div>
                <ng-container *ngFor="let line of (weekEvent.event.subtitle || '').split('\n')">
                <div class="C">{{ line }}</div>
                </ng-container>
              </div>
            </div>
            <ng-template #noEventTemplate>
              <div>Нет доступных ивентов</div>
            </ng-template>
          </ng-template>



        </div>

        <button class="arrow-button right-arrow" (click)="nextWeek()">
          &#9654;
        </button>
      </div>


    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar-calendar">
      <div class="month-calendar">

        <div class="custom-today-month-header">
          <div class="today-header">
            {{ currentDate | date: 'd' }} {{ currentDate | date: 'MMMM' : 'kk' }}
          </div>
          <div class="arrows">
            <div class="arrow" (click)="moveToPreviousMonth()">
              <img src="assets/images/arrow-left.svg" alt="left">
            </div>
            <div class="arrow" (click)="moveToNextMonth()">
              <img src="assets/images/arrow-right.svg" alt="right">
            </div>
          </div>
        </div>

        <ng-template #headerTemplate let-day="day">
          <div class="week-days-container">
            <div *ngFor="let day of getWeekDays()" class="week-day-header">
              <div class="day-letter">{{ day | date: 'EEEE' | slice:0:1 | uppercase }}</div>
            </div>
          </div>
        </ng-template>

         <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="events"
          [weekStartsOn]="1"
          [headerTemplate]="headerTemplate"
          (dayClicked)="onDayClicked($event.day)"
        >
        </mwl-calendar-month-view>
      </div>
    </div>

    <div class="task-list">
      <div *ngIf="todayTasks.length > 0 && !selectedTaskDetails && !isEventClicked">
        <h3>Сегодняшние задачи</h3>
        <div *ngFor="let event of todayTasks" class="task-item" [ngStyle]="{
          'border-color': event.color?.primary || '#6E63E5',
          'color': event.color?.primary || '#6E63E5',
          'background': 'linear-gradient(to bottom, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 0%, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 41%, #FFFFFF 100%)'
        }"
             (click)="fetchEventDetails(event.id, event.type, event.start)">
          <p>{{ event.title }}</p>
          <small>{{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}</small>
        </div>
      </div>


      <div *ngIf="chooseDayTasks.length > 0 && !selectedTaskDetails && !isEventClicked && todayTasks.length == 0">
        <h3>Задачи на {{ chooseDayTasks[0]?.start | date: 'dd MMMM yyyy' }}</h3>
        <div *ngFor="let event of chooseDayTasks" class="task-item" [ngStyle]="{
          'border-color': event.color?.primary || '#6E63E5',
          'color': event.color?.primary || '#6E63E5',
          'background': 'linear-gradient(to bottom, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 0%, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 41%, #FFFFFF 100%)'
        }"
             (click)="fetchEventDetails(event.id, event.type, event.start)">
          <p>{{ event.title }}</p>
          <small>{{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}</small>
        </div>
      </div>

      <div *ngIf="selectedDateEvents.length > 0 && !selectedTaskDetails  && isEventClicked">
        <h3>Задачи на {{ selectedDateEvents[0]?.start | date: 'dd MMMM yyyy' }}</h3>
        <div *ngFor="let event of selectedDateEvents" class="task-item" [ngStyle]="{
          'border-color': event.color?.primary || '#6E63E5',
          'color': event.color?.primary || '#6E63E5',
          'background': 'linear-gradient(to bottom, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 0%, '
                          + (event.color?.secondary || '#D4D0FF')
                          + ' 41%, #FFFFFF 100%)'
        }"
             (click)="fetchEventDetails(event.id, event.type, event.start)">
          <p>{{ event.title }}</p>
          <small>{{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}</small>
        </div>
      </div>

      <div *ngIf="selectedDateEvents.length === 0 && !selectedTaskDetails && todayTasks.length===0 && chooseDayTasks.length===0">
        <p>Нет задач</p>
      </div>
    </div>

    <div class="task-details" *ngIf="selectedTaskDetails">
      <button class="back-button" (click)="goBackToTaskList()">
        <img src="assets/images/arrow-left.svg" alt="left" class="back-icon"/>
        <h4 class="back-text">
          {{
            Array.isArray(selectedTaskDetails)
              ? selectedTaskDetails[0]?.type === 'homework'
                ? 'Үй жұмысы'
                : selectedTaskDetails[0]?.type === 'test'
                  ? 'Тақырыптық тест'
                  : selectedTaskDetails[0]?.type === 'meet'
                    ? 'Тікелей эфир'
                    : selectedTaskDetails[0]?.type === 'testant'
                      ? 'Тестант'
                      : ''
              : selectedTaskDetails.type === 'homework'
                ? 'Үй жұмысы'
                : selectedTaskDetails.type === 'test'
                  ? 'Тақырыптық тест'
                  : selectedTaskDetails.type === 'meet'
                    ? 'Тікелей эфир'
                    : selectedTaskDetails.type === 'testant'
                      ? 'Тестант'
                      : ''
          }}
        </h4>
      </button>

      <ng-container *ngIf="selectedTaskDetails">
        <div class="details-content">
          <div class="details-row" *ngIf="selectedTaskDetails.type === 'homework' || selectedTaskDetails.type === 'test'">
            <span class="label">Пән:</span>
            <span class="value">{{ selectedTaskDetails.course_name }}</span>
          </div>

          <div class="details-row" *ngIf="selectedTaskDetails.type === 'homework' || selectedTaskDetails.type === 'test'">
            <span class="label">Тақырып:</span>
            <span class="value">{{ selectedTaskDetails.topic_name }}</span>
          </div>

          <div class="details-row">
            <span class="label">
              {{ selectedTaskDetails.type === 'homework' || selectedTaskDetails.type === 'test' ? 'Дедлайн' : selectedTaskDetails.type === 'testant' ? 'Дата' : selectedTaskDetails.type === 'meet' ? 'Басталуы' : '' }}:
            </span>
                      <span class="value" *ngIf="selectedTaskDetails.type === 'meet' && selectedTaskDetails.start  || selectedTaskDetails.type === 'testant'">
              {{ selectedTaskDetails.start | date: 'dd/MM/yyyy HH:mm' }}
            </span>
                      <span class="value" *ngIf="(selectedTaskDetails.type === 'homework' || selectedTaskDetails.type === 'test' ) && selectedTaskDetails.deadline">
              {{ selectedTaskDetails.deadline | date: 'dd/MM/yyyy HH:mm' }}
            </span>
          </div>

          <div class="details-row">
            <span class="label" *ngIf="selectedTaskDetails.type == 'testant'">
              Дедлайн:
            </span>
            <span class="value" *ngIf="selectedTaskDetails.type == 'testant'">
              {{ selectedTaskDetails.deadline | date: 'dd/MM/yyyy HH:mm' }}
            </span>
          </div>


          <div *ngIf="selectedTaskDetails.type === 'test'" class="details-row">
            <span class="label">Сұрақ саны:</span>
            <span class="value">{{ selectedTaskDetails.questions_count }}</span>
          </div>

          <div *ngIf="selectedTaskDetails.type === 'testant'|| selectedTaskDetails.type === 'meet'" class="details-row">
            <span class="label">Куратор:</span>
            <span class="value" *ngIf="selectedTaskDetails.type === 'testant'">{{ selectedTaskDetails.proctor }}</span>
            <span class="value" *ngIf="selectedTaskDetails.type === 'meet'">{{ selectedTaskDetails.curator }}</span>
          </div>

          <div class="details-row">
            <div class="button-container" *ngIf="selectedTaskDetails.type === 'meet'">

              <a
                target="_blank"
                [href]="selectedTaskDetails.link"
                [ngClass]="{'disabled-link': !selectedTaskDetails.link}"
                [attr.disabled]="!selectedTaskDetails.link ? true : null"
                class="submit-button">
                Қосылу
              </a>
              <p *ngIf="!selectedTaskDetails.link"
                 class="centered-text">
                Жабык
              </p>
            </div>

            <div class="button-container" *ngIf="selectedTaskDetails.type === 'homework' || selectedTaskDetails.type === 'test' ">
              <a
                target="_blank"
                [href]="selectedTaskDetails.link"
                [ngClass]="{'disabled-link': !selectedTaskDetails.is_available}"
                [attr.disabled]="!selectedTaskDetails.is_available"
                class="submit-button">
                Тапсыру
              </a>
              <p *ngIf="!selectedTaskDetails.is_available"
                 class="centered-text">
                Жабык
              </p>
            </div>

            <div class="button-container" *ngIf="selectedTaskDetails.type === 'testant' ">
              <a
                target="_blank"
                [href]="'http://127.0.0.1:8000/api/testant/test/' + token + '/' + selectedTaskDetails.id + '/'"
                [ngClass]="{'disabled-link': !selectedTaskDetails.is_available}"
                [attr.disabled]="!selectedTaskDetails.is_available"
                class="submit-button">
                Бастау
              </a>
              <p *ngIf="!selectedTaskDetails.is_available" class="centered-text">Жабык</p>
            </div>

          </div>
        </div>
      </ng-container>

      <!-- Если selectedTaskDetails это объект -->

    </div>





  </div>
</div>
