<div class="navbar-container">
  <div class="nav-logo">
    <a href="#"><img src="assets/images/navbar-Kursant.svg" alt="Kursant"></a>
  </div>
  <div class="nav-search">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Курс или поток"/>
  </div>
  <div class="nav-buttons">
    <div class="nav-cart-logo">
      <a href="#"><img src="assets/images/navbar-cart-logo.svg" alt="cart-logo"></a>
    </div>
    <div class="nav-login">
      <button pButton type="button" class="nav-login_button">Кіру</button>
    </div>
  </div>
</div>

