<div class="supplier-header">
  <div class="supplier-container">
    <h1 class="supplier-title">Ученики</h1>
    <hr style="transform: scaleY(0.3);">
    <div class="supplier-actions">
      <div class="search-form">
        <label for="supplierSearch" class="visually-hidden">ФИО</label>
        <input type="text" id="supplierSearch" placeholder="ФИО" class="search-input"/>
        <button type="submit" class="search-button">Поиск</button>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="content-buttons">
    <button class="content-button" *ngFor="let curatorFlow of curatorFlows"
            (click)="getLearnersLessonProgress(curatorFlow.id)"
            [class.active]="curatorFlow.id === activeFlowId">
      Поток {{ curatorFlow.index }}
    </button>
  </div>

  <div class="content-table-container">

    <p-table [value]="learnerLessonProgress" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ФИО</th>
          <th>Дата добавления</th>
          <th>Сдали</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-progresses>
        <tr *ngFor="let progress of learnerLessonProgress">
          <td>{{ progress.fullname }}</td>
          <td>{{ progress.accepted_at }}</td>
          <td>
            {{ progress.lessons_passed }} из {{ progress.total_lessons }}
            <div class="progress-bar-outer" style="background-color: #D9D9D9;" *ngIf="progress.total_lessons>0">
              <div class="progress-bar-inner" [style.width]="(progress.lessons_passed / progress.total_lessons * 100) + '%'"></div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>



