<div class="supplier-header">
  <div class="supplier-container">
    <h1 class="supplier-title">Заявки</h1>
    <hr style="transform: scaleY(0.3);">
    <div class="supplier-actions">
      <div class="search-form">
        <label for="supplierSearch" class="visually-hidden">ID, ФИО</label>
        <input type="text" id="supplierSearch" placeholder="ID, ФИО" class="search-input" [(ngModel)]="searchText" />
        <button type="submit" class="search-button" (click)="searchApplications()">Поиск</button>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="content-buttons">
    <button class="content-button" [ngClass]="{'active': activeStatus === ''}" (click)="filterApplications('')">Все заявки</button>
    <button class="content-button" [ngClass]="{'active': activeStatus === 'waiting_admin'}" (click)="filterApplications('waiting_admin')">Новые заявки</button>
    <button class="content-button" [ngClass]="{'active': activeStatus === 'accepted'}" (click)="filterApplications('accepted')">Получили доступ</button>
    <button class="content-button" [ngClass]="{'active': activeStatus === 'rejected'}" (click)="filterApplications('rejected')">Отклонённые</button>
  </div>


  <div class="content-table-container">

    <p-table [value]="applications" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>ФИО</th>
          <th>Телефон</th>
          <th>Статусы</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-application >
        <tr *ngIf="application && application.order_id" (click)="showDialog(application)">
          <td>{{ application.order_id }}</td>
          <td>{{ application.learner_fullname }}</td>
          <td>{{ application.learner_phone_number }}</td>
          <td>{{ application.status_display }}</td>
          <td>{{ application.comments }}</td>
        </tr>

      </ng-template>
    </p-table>

  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="isVisible"
  [modal]="true"
  [style]="{ width: selectedApplicationType?.showAccess ? '40rem' : '70rem' }"
  draggable="false"
  (onHide)="onDialogHide()">
  <ng-template pTemplate="header">
    <ng-container *ngIf="!visibleAdd && !selectedApplicationType?.showAccess">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <h3>Заявка #{{ selectedNum }}</h3>
        <h5 class="username">{{ selectedName }}</h5>
      </div>
    </ng-container>

    <ng-container *ngIf="!visibleAdd && selectedApplicationType?.showAccess">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <h3>Выберите поток</h3>
      </div>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="!visibleAdd && !selectedApplicationType?.showAccess">
    <form  [formGroup]="applicationsForm">
      <div class="modal-content">

        <div class="block-one">
          <h5>В корзине</h5>
          <ol class="cart-list">
            <li *ngFor="let course of coursesList let i = index">
              <span class="item-name">{{ course.name }}</span>
              <span class="price">{{ course.current_price}} тг</span>
              <button class="delete-btn" (click)="removeCourse(i)" *ngIf="status === 'waiting_admin'">
                <img  src="assets/images/delete_icon.svg" alt="delete" width="14" height="14"/>
              </button>
            </li>
          </ol>
          <div class="total">
            <strong>К оплате:</strong> <span class="total-price">{{ calculateTotalPrice() }}</span>
          </div>
        </div>


        <div class="block-two">

          <div class="form-group">
            <label for="fullName">ФИО</label>
            <div class="input-container">
              <input type="text" id="fullName" class="form-control" formControlName="learner_fullname">
              <button class="edit-btn">
                <img src="assets/images/pencil.svg" width="15" height="15" alt="pencil">
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Телефон</label>
            <div class="input-container">
              <input type="text" id="phone" class="form-control" formControlName="learner_phone_number">
              <button class="edit-btn">
                <img src="assets/images/pencil.svg" width="15" height="15" alt="pencil">
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="region">Регион</label>
            <div class="input-container">
              <input type="text" id="region" class="form-control" formControlName="learner_region">
              <button class="edit-btn">
                <img src="assets/images/pencil.svg" width="15" height="15" alt="pencil">
              </button>
            </div>
          </div>

        </div>

        <div class="block-three">
          <label for="comment">Комментарий к админу</label>
          <textarea id="comment" rows="4" formControlName="comments"></textarea>
        </div>

        <div class="block-four">
          <label for="fileInput1">Чек</label>
          <div class="show-photo-cont">
            <button class="show-photo" (click)="openModal(imageUrl!, selectedFileName!)">ЧЕК</button>
          </div>

          <div id="myModal" class="modal" [ngStyle]="{'display': isModalVisible ? 'flex' : 'none'}">
            <span class="close" (click)="closeModal()">&times;</span>
            <div class="modal-image-content">
              <img class="modal-img" id="img01" [src]="modalImageUrl">
            </div>
          </div>
        </div>

      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="selectedApplicationType?.showAccess">
    <div class="block-three">
      <div class="form-group">
        <label for="flow">Выберите поток</label>
        <div class="select-container">
          <select id="flow" class="form-control" [(ngModel)]="selectedFlow">
            <option *ngFor="let flow of flows" [value]="flow.flow_id">
              Поток {{ flow.flow_id }} - {{ flow.name }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </ng-container>

  <ng-template pTemplate="footer">
    <ng-container  *ngIf="!selectedApplicationType?.showAccess">
      <div class="button-group">

        <div class="button-container" >
          <button class="filled-button" (click)="this.selectedApplicationType.showAccess = true;" *ngIf="status === 'waiting_admin'">Открыть доступ</button>
          <button class="outlined-button" (click)="cancelDialog()" *ngIf="status === 'waiting_admin'">Отклонить</button>
        </div>


        <button class="text-button" (click)="closeDialog()">Назад</button>
      </div>
    </ng-container>

    <ng-container  *ngIf="selectedApplicationType?.showAccess">
      <div class="button-group">

        <div class="button-container" >
          <button class="filled-button" (click)="saveDialog()" >Открыть доступ</button>
        </div>
      </div>
    </ng-container>

  </ng-template>


</p-dialog>
