.navbar-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 15px;
  height: 82px;
  padding: 0 25px 0 40px;
  gap: 20px;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-logo {
  flex: 0 0 auto;
}

.nav-search {
  display: flex;
  flex: 1;
  position: relative;
}

.nav-search .search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-search input {
  width: 100%;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 544px;
  height: 38px;
  background-color: #F5F5F5;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-login_button {
  background-color: #2A6DB3;
  border-radius: 10px;
  color: white;
  width: 121px;
  height: 52px;
}


.nav-cart-logo {
  position: relative;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

::ng-deep p-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 1;
  background-color: #FF0000;
  border-radius: 10px;
  color: #FFFFFF;
}


.nav-login button {
  justify-content: center;
  font-size: 22px;
}

@media (max-width: 768px) {
  .nav-search {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar-container {
    height: auto;
    padding: 10px 15px;
    gap: 10px;
  }

  .nav-search {
    display: none;
  }

  .nav-buttons {
    justify-content: right;
    gap: 20px;
  }

  .nav-login_button {
    width: auto;
    height: 40px;
    padding: 0 15px;
    font-size: 18px;
  }

  .cart-icon{
    width:32px;
    height:32px;
  }


  .nav-logo img {
    max-width: 100px;
    height: auto;
  }
}
