:host {
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
  color: #212121;
}

.login-container {
  display: flex;
  gap:130px;
}

.left-arrow{
  padding-top:5%;
  cursor: pointer;
}

.login-footer {
  margin-top: auto;
}

.login-left img {
  width: 111%;
}

.login-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
}


.login-content {
  display: flex;
  flex-direction: column;
}


.login-text h1 {
  font-size: 48px;
  font-weight: 700;
}

.login-text p {
  font-size: 22px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-input p {
  font-size: 16px;
  font-weight: 500;
}

.login-input input {
  padding: 17px 21px 18px 21px;
  font-size: 20px;
  border: none;
  width: 385px;
  height: 62px;
  border-radius: 10px;
}

.login-button {
  background-color: #2A6DB3;
  font-size: 22px;
  color: white;
  height: 62px;
  width: 130px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1565C0;
}
