<div class="login-container">
  <div class="login-left">
    <img src="assets/images/login-image.svg" alt="login-image">
  </div>
  <div class="login-right">
    <div class="login-header">
      <img src="assets/images/left-arrow.svg" alt="left">
      <p>Артқа</p>
    </div>
    <div class="login-content">
      <div class="login-text">
        <h1>Авторизация</h1>
        <p>Қош келдіңіз, төмендегі ақпараттарды толтырыңыз.</p>
      </div>
      <div class="login-input">
        <p>Телефон номер</p>
        <input type="text" placeholder="+7 (___) ___ __ __">
      </div>
      <button class="login-button">Енгізу</button>
    </div>
    <div class="login-footer">
      <img src="assets/images/navbar-Kursant.svg" alt="Kursant">
    </div>
  </div>
</div>
