:host {
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
  color: #212121;
}

.login-container {
  height: 100vh;
  display: flex;
  gap: 130px;
}

.left-arrow {
  padding-top: 5%;
  cursor: pointer;
}

.login-footer {
  margin-top: auto;
}

.kursant-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: calc(100% - 110px);

  max-width: 785px;
  width: 100%;
  padding: 55px;

  display: flex;
  padding-right: 85px;

  flex-direction: column;
  justify-content: end;

  border-radius: 22px;
  color: white;

  transition: 0.5s;
  z-index: 2;
}

/*.login-left img {*/
/*  width: 111%;    !* The image will be 111% of the parent container's width *!*/
/*  max-width: 111%; !* Ensure it doesn’t exceed 111% *!*/
/*  height: auto;    !* Maintain aspect ratio *!*/
/*  object-fit: cover; !* Cover the container while cropping parts that overflow *!*/
/*}*/


.login-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
}


.login-content {
  display: flex;
  flex-direction: column;
}


.login-text h1 {
  font-size: 48px;
  font-weight: 700;
}

.login-text p {
  font-size: 22px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-input p {
  font-size: 16px;
  font-weight: 500;
}

.login-input input {
  padding: 17px 21px 18px 21px;
  font-size: 20px;
  border: none;
  width: 385px;
  height: 62px;
  border-radius: 10px;
}

.login-button {
  background-color: #2A6DB3;
  font-size: 22px;
  color: white;
  height: 62px;
  width: 130px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1565C0;
}

@media (max-width: 1440px) {
  .login-left img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .login-container {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .login-left img {
    display: none;
  }

  .login-right {
    gap: 50px;
    text-align: center;
  }

  .login-input {
    display: flex;
    align-items: center;
  }

  .login-input input {
    width: 350px;
  }

  .login-button {
    width: 120px;
  }

  .login-text h1 {
    font-size: 36px;
  }

  .login-text p {
    font-size: 18px;
  }
}

/* Адаптация для экрана шириной 768px */
@media (max-width: 768px) {
  :host {
    padding: 20px;
  }

  .login-container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .login-left img {
    display: none;
  }

  .login-right {
    gap: 40px;
    text-align: center;
  }

  .login-text h1 {
    font-size: 32px;
  }

  .login-text p {
    font-size: 16px;
  }

  .login-input input {
    width: 280px;
    height: 50px;
    font-size: 18px;
  }

  .login-button {
    width: 110px;
    height: 50px;
    font-size: 18px;
  }
}

/* Адаптация для экрана шириной 425px */
@media (max-width: 425px) {
  :host {
    padding: 15px;
  }

  .login-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .login-left img {
    width: 100%;
  }

  .login-right {
    gap: 30px;
    text-align: center;
  }

  .login-text h1 {
    font-size: 28px;
  }

  .login-text p {
    font-size: 14px;
  }

  .login-input input {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }

  .login-button {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }
}
