<div class="login-container">
<!--  <div class="login-left">-->
<!--    &lt;!&ndash;    <img src="assets/images/Login.png" alt="login-image">&ndash;&gt;-->
<!--  </div>-->
  <div class="kursant-image" style="background-image: url(assets/images/Login.png)">
  </div>

  <div class="login-right" *ngIf="!loginSuccess">


    <div class="left-arrow">
      <a (click)="goBack()"><img src="assets/images/left-arrow.svg" alt="left" width="20" height="20">Артқа</a>
    </div>
    <div class="login-content">

      <div class="login-text">
        <h1>Авторизация</h1>
        <p>Қош келдіңіз, төмендегі ақпараттарды толтырыңыз.</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="sendCode()">
        <div class="login-input">
          <p>Телефон номер</p>
          <input type="text" formControlName="phone" placeholder="+7 (___) ___ __ __" [mask]="'(000) 000 00 00'"
                 prefix="+7 ">
        </div>
        <button class="login-button" type="submit" >Енгізу</button>
      </form>

    </div>
    <div class="login-footer">
      <img src="assets/images/navbar-Kursant.svg" alt="Kursant">
    </div>
  </div>


  <div class="login-right" *ngIf="loginSuccess">
    <div class="left-arrow" (click)="returnBack()">
      <img src="assets/images/left-arrow.svg" alt="left" width="20" height="20">Артқа
    </div>
    <div class="login-content">
      <div class="login-text">
        <h1>Код</h1>
        <p>SMS хабарламадағы 6 санды кодты жазыңыз.</p>
      </div>
      <form [formGroup]="smsCode" (ngSubmit)="checkSmsCode()">
        <div class="login-input">
          <p>SMS код</p>
          <input type="text" formControlName="sms" placeholder="___ ___" mask="000 000">
        </div>
        <button class="login-button" type="submit" >Енгізу</button>
      </form>
    </div>
    <div class="login-footer">
      <img src="assets/images/navbar-Kursant.svg" alt="Kursant">
    </div>
  </div>
</div>
