<div class="about-courses-container">
  <div class="about-courses-content">
    <div class="carousel-content">
      <div class="text-overlay">
        <h1>{{ course.name }}</h1>
        <p>Мұғалім: {{ course.teacherName }}</p>
        <div class="course-info">
          <span class="info-item">
        <i class="pi pi-book"></i> {{ course.modules_count }} бөлім
          </span>
          <span class="info-item-2">
        <i class="pi pi-bookmark"></i> {{ course.lessons_count }} сабақ
          </span>
        </div>
        <div class="course-item">
          <p class="progress-label">Прогресс:</p>
          <p class="progress-value">{{ course.progress }}%</p>
        </div>
        <p-progressBar [value]="course.progress" [style]="{ height: '6px' }" [showValue]="false"></p-progressBar>

      </div>
      <img src="{{ poster }}" alt="subject-carousel" class="carousel-image">
    </div>


    <div class="bolimder">
      @for (module of modules; track i; let i = $index) {
        <div class="bolim-container">
          <div class="bolim" (click)="toggleBolim(i)">
            <div class="left-bolim" >
              <p><strong>Бөлім {{ i + 1 }}.</strong> {{ module.name }}</p>
              <div class="sabak" >
                <img src="../../../assets/images/sabak.svg" alt="sabak"> {{ module.topics.length }} тақырып
              </div>
            </div>
            <div class="right-bolim" >
              <img [src]="getTemaStatusIcon(module.status)" alt="status">
              <img src="assets/images/right-arrow.svg" alt="right" class="right-arrow"
                   [ngClass]="{'rotated': isOpen[i]}">
            </div>
          </div>
          <!-- Раскрывающийся список тем -->
          @if (isOpen[i]) {
            <div class="tema-list" >
              @for (topic of module.topics; track j; let j = $index) {
                <div class="tema-item" (click)="toggleTema(i, j)">
                  <img [src]="getTemaStatusIcon(topic.status)" alt="tema-status">
                  <p><strong>{{ j + 1 }} тақырып.</strong> {{ topic.name }}</p>
                </div>
                <div *ngIf="isOpenTopic[i][j]" class="details-list">
                  <div *ngIf="topic.lessons.length" class="details-sublist">
                    <div *ngFor="let lesson of topic.lessons; let l = index" class="details-item"
                         (click)="goToLesson(lesson, lesson.id)">
                      <img [src]="getTemaStatusIcon(lesson.status)" alt="sabak-status">
                      <p><strong>{{ l + 1 }} сабақ.</strong> {{ lesson.name }}</p>
                    </div>
                  </div>
                  <div *ngIf="topic.test" class="details-sublist">
                    <div class="details-item" (click)="goToTest(topic.test, topic.test.id)">
                      <img [src]="getTemaStatusIcon(topic.test.status)" alt="test-status">
                      <p><strong>Тақырыптық тест</strong></p>
                    </div>
                  </div>

                  <div *ngIf="topic.homework" class="details-sublist">
                    <div class="details-item" (click)="goToHomework(topic.homework, topic.homework.id)">
                      <img [src]="getTemaStatusIcon(topic.homework.status)" alt="homework-status">
                      <p><strong>Үй жұмысы</strong></p>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>


