<div class="about-courses-container">
  <div class="about-courses-content">
    <div class="carousel-content">
      <div class="text-overlay">
        <h1>{{ course.name }}</h1>
        <p>Мұғалім: {{ course.teacherName }}</p>
        <div class="course-info">
          <span class="info-item">
        <img src="assets/images/bolim.svg" alt="bolim" style="margin-right: 10px" width="14" height="14">{{ course.modules_count }} бөлім
          </span>
          <span class="info-item-2">
        <img src="assets/images/sabak.svg" alt="sabak" style="margin-right: 10px" width="15" height="15"> {{ course.lessons_count }} сабақ
          </span>
        </div>
        <div class="course-description">
          <div [innerHTML]="course.description"></div>
        </div>
        <div class="course-item">
          <div class="price-info">
            <p class="price">{{ course.price }} тг</p>
            <p class="payment-type">бір реттік төлем</p>
          </div>
          <button class="cart-button" (click)="addToCart(course.course_id)">Корзинаға</button>
        </div>

      </div>
      <img *ngIf="poster" [src]="poster" alt="subject-carousel" class="carousel-image">

    </div>


    <div class="course-layout">
      <div class="bolimder">
        <div *ngFor="let module of modules; let i = index" class="bolim-container">
          <div class="bolim" (click)="toggleBolim(i)">
            <div class="left-bolim">
              <p><strong>Бөлім {{ i + 1 }}.</strong> {{ module.module_name }}</p>
              <div class="sabak">
                <img src="../../../assets/images/sabak.svg" alt="sabak"> {{ module.topics.length }} тақырып
              </div>
            </div>
            <div class="right-bolim" >
              <img src="assets/images/right-arrow.svg" alt="right" class="right-arrow" [ngClass]="{'rotated': isOpen[i]}">
            </div>
          </div>

          <div *ngIf="isOpen[i]" class="tema-list">
            <div *ngFor="let topic of module.topics; let j = index" class="tema-item"
                 [class.clickable]="j === 0"
                 [class.non-clickable]="j !== 0"
                 (click)="j === 0 ? navigateToCourseDetail() : null">
              <img [src]="j === 0 ? 'assets/images/lock-open.svg' : 'assets/images/lock.svg'" alt="tema-status">
              <p>
                <span class="topic-names"><strong>{{ j + 1 }} тақырып.</strong> {{ topic }}</span>
                <span *ngIf="j === 0" class="trial-lesson">Пробный урок</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="course-list">
        <div *ngFor="let additionalCourse of additional_courses" class="course-items" (click)="openDetails(additionalCourse.id!)">
          <img [src]="getCoursePoster(additionalCourse.poster)" alt="{{ additionalCourse.name }}" class="course-image">
          <div class="course-details">
            <div class="course-tags">
              <span class="course-tag">{{ additionalCourse.modules_count }} бөлім</span>
              <span class="course-tag course-tag-secondary">{{ additionalCourse.lessons_count }} сабақ</span>
            </div>
            <h3 class="course-name">{{ additionalCourse.name }}</h3>
            <p class="course-date">Ең жақын поток: {{ additionalCourse.flow_date }}</p>
            <hr class="course-divider">
            <div class="course-price-container">
              <div class="price-content">
                <p class="course-price">{{additionalCourse.current_price}} тг</p>
                <p class="course-payment-type">бір реттік төлем</p>
              </div>
              <button class="course-cart-button" (click)="addToCart(additionalCourse.id); $event.stopPropagation()">Корзинаға</button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>


