<div class="edit-course-header">
  <div class="header-text">
    <img src="assets/images/back-arrow.svg" alt="back">
    <h3>Казахстан тарихы</h3>
  </div>
  <div class="course-actions">
    <button class="delete-course-btn">Удалить курс</button>
    <button class="edit-course-btn">Редактировать курс</button>
  </div>
</div>
<div class="edit-course-page">

  <div class="edit-course-container">
    <h2>Модули</h2>
    <div class="modules">
      <div class="module" *ngFor="let module of courseModules">
        <span> <strong>Бөлім {{ module.id }}.</strong> {{ module.name }}</span>
        <button class="edit-module-btn" (click)="showEditDialog()">
          <img src="assets/images/edit-icon.svg" alt="edit">
        </button>
      </div>
    </div>
    <button class="add-module-btn">Добавить модуль</button>
  </div>
</div>

<p-dialog class="test-modal" header="Редактировать модуль" [modal]="true" [(visible)]="EditModuleVisible" draggable="false">
  <form class="client-edit__form">
    <div class="form-group">
      <label for="name" class="form-label">Название</label>
      <input type="text" id="name" class="form-input">
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn start-btn">Редактировать</button>
    <button class="btn back-btn" (click)="EditModuleVisible = false">Отмена</button>
  </div>
</p-dialog>
