<div class="test-container">

  @if(userRole !== 'curator') {
    <div class="breadcrumb-container" (click)="back()">
      <img src="assets/images/back-arrow.svg" alt="back">
      <span class="breadcrumb-label-text">{{ courseName }} / {{ topicName }}</span>
    </div>
  }

  @if (!isTestStarted) {

    <div class="test-header">
      <h2>Тақырыптық тест</h2>
      <p>Мұғалім: {{ teacherName }}</p>
    </div>

    <div class="test-content">
      <div class="test-left">
        <div class="test-details">
          <div class="test-detail-left">
            <p>Сұрақ саны</p>
            <p>Тест уақыты</p>
            <p>Дедлайн</p>
            <p *ngIf="learnerTest?.passed_at">Время сдачи: </p>
            <p *ngIf="learnerTest?.taken_marks">Правильных: </p>
          </div>

          <div class="test-detail-right">
            <p>{{ learnerTest?.questions_count }}</p>
            <p>{{ learnerTest?.duration }} минут</p>
            <p>{{ learnerTest?.deadline }}</p>
            <p *ngIf="learnerTest?.passed_at">{{ learnerTest?.passed_at }}</p>
            <p *ngIf="learnerTest?.taken_marks">{{ learnerTest?.taken_marks }}</p>
          </div>
        </div>
        <button *ngIf="testStatus === 'opened'" class="start-test-btn" (click)="showStartTestDialog()">
          Тестті бастау
        </button>
        <button *ngIf="testStatus === 'passed'" class="start-test-btn" (click)="viewResults(testId)">
          Результаты
        </button>

      </div>
      <div class="test-right">
        <h3><strong>{{ topicName }}. Тақырыптық тест</strong></h3>
        <div class="progress-wrapper">
          <p>Тақырып прогрессі</p>
          <div class="custom-progress-bar">
            <div class="progress-segment" *ngFor="let segment of progressSegments"
                 [ngStyle]="{'background-color': segment.filled ? '#00B69B' : '#E0E0E0'}">
            </div>
          </div>
        </div>

        <div class="sabaktar">
          <div *ngFor="let item of lessonsAndTests; let i = index"
               class="sabak"
               [ngClass]="{'inactive': item.status !== 'passed' && item.status !== 'opened'}"
               [routerLink]="getRouterLink(item)"
               [style.cursor]="item.status === 'passed' || item.status === 'opened' ? 'pointer' : 'default'">

            <img [src]="getTemaStatusIcon(item.status)" alt="status">
            <p>{{ i + 1 }}
              {{ item.type === 'test' ? 'тест' : item.type === 'homework' ? 'үй жұмысы' : 'сабақ' }}.
              {{ item.type === 'test' ? 'Тест' : item.type === 'homework' ? 'Үй жұмысы' : item.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  }
  <!-- Если тест начат, отображаем страницу теста -->
  <div *ngIf="isTestStarted" class="start-test">
    <div class="start-test-header">
      <div class="test-header">
        <h2>{{ topicName }} / Тақырыптық тест</h2>
        <p>Мұғалім: {{ teacherName }}</p>
      </div>
      <div class="remain-time">
        <p>Қалған уақыт: <strong> {{ displayedTime }}</strong></p>
      </div>
    </div>

    <!-- Номера вопросов -->
    <div class="question-buttons">
      @for (question of questions; track question.id; let i = $index) {
        <button (click)="selectQuestion(i)"
                [ngClass]="{'answered': answeredQuestions[question.id], 'current-question': currentQuestionIndex === i}">
          {{ i + 1 }}
        </button>
      }
    </div>

    <div class="question-card" *ngIf="questions && questions.length > 0">
      <div class="question-header">
        <h3>{{ currentQuestionIndex + 1 }} сұрақ</h3>
      </div>
      <div class="question-content" >
        <h4 [innerHTML]="sanitizeHtmlContent(questions[currentQuestionIndex].question)"></h4>
        <form [formGroup]="testForm">
          <div class="answers-list">
            <div *ngFor="let option of questions[currentQuestionIndex].options; let j = index" class="answer">
              <label class="answer-option">
                <input type="radio" [formControlName]="'question_' + questions[currentQuestionIndex].id"
                       (change)="saveAnswer(questions[currentQuestionIndex].id, j, option.answerId)" [value]="j">
                <span>{{ option.answerName }}</span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="start-test-btn" (click)="showEndTestDialog()">Тестті аяқтау</button>
  </div>
</div>
<p-dialog class="test-modal" header="Тестілеуді бастау" [modal]="true" [(visible)]="startTestVisible" draggable="false">
  <span class="modal-text" >Тестілеуді бастау батырмасы басылғасын уақыт есептегіш қосылады.</span>
  <div class="modal-footer">
    <button class="back-btn" (click)="startTestVisible = false">Артқа</button>
    <button class="start-btn" (click)="startTest(testId)">Тестті бастау</button>
  </div>
</p-dialog>

<p-dialog class="test-modal" header="Тестілеуді аяқтау" [modal]="true" [(visible)]="endTestVisible">
  <span class="modal-text"  *ngIf="displayAlertMessage">Белгіленбеген сұрақтар бар, тестілеуді аяқтағанда ол сұрақтарға 0 балл беріледі.</span>
  <div class="modal-footer">
    <button class="back-btn" (click)="endTestVisible = false">Артқа</button>
    <button class="start-btn" (click)="endTest()">Тесттілеуді аяқтау</button>
  </div>
</p-dialog>
