* {
  margin: 0;
  padding: 0;
}

.test-container {
  background-color: white;
  min-height: 100vh;
  padding: 30px 100px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.test-header {
  display: flex;
  flex-direction: column;
}

.test-header h2 {
  font-size: 25px;
  font-weight: bold;
}

.test-header p {
  font-size: 13px;
  color: #000000;
}

.test-content {
  display: flex;
  justify-content: space-between;
}

.test-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.test-details {
  display: flex;
  /*justify-content: space-between;*/
  gap: 120px;
}

.test-detail-left p {
  position: relative;
  font-size: 13px;
  color: #A2A2A2;
  margin-bottom: 10px;
}

.test-detail-left p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 120px; /* Длина линии */
  height: 1px;
  border-bottom: 1px dotted #A2A2A2; /* Пунктирная линия */
  transform: translateY(-50%);
}

.test-detail-right p {
  font-size: 13px;
  margin-bottom: 10px;
}

.start-test-btn {
  padding: 12px 20px;
  background-color: #2A6DB3;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 146px;
  white-space: nowrap;
}

.start-test-btn:hover {
  background-color: #1f4d84;
}

.test-right {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 36px;
  border: 1px solid #BBBBBB;
  border-radius: 30px;
}

.test-right h3 {
  font-size: 20px;
}

p-progressBar {
  height: 5px;
}

.sabaktar img {
  width: 17px;
  height: 17px;
}

.sabaktar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sabak {
  display: flex;
  gap: 15px;
}

.sabak p {
  font-size: 15px;
}

.progress-wrappper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress-wrappper p {
  font-size: 13px;
}

::ng-deep .p-dialog {
  max-width: 470px;
  height: 268px;
}

.modal-text {
  font-size: 18px;
  white-space: wrap;
  color: #000000;
}

:host ::ng-deep .modal-footer {
  justify-content: flex-start;
  gap: 20px;
}

:host ::ng-deep .p-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.back-btn {
  background: none;
  font-size: 18px;
  border: 1.5px solid #8F8F8F;
  border-radius: 5px;
  padding: 6px 15px;
  color: #8F8F8F;
  height: 36px;
  display: flex;
  align-items: center;
}

.start-btn {
  border-radius: 5px;
  padding: 6px 15px;
  background-color: #8F8F8F;
  border: none;
  color: white;
  font-size: 18px;
}

::ng-deep .p-breadcrumb {
  margin: 0;
  padding: 0;
  border: none;
}

::ng-deep .p-breadcrumb-list {
  margin: 0;
  padding: 0;
}

::ng-deep .p-menuitem-separator {
  margin: 0;
  padding: 0;
}

.p-menuitem-link {
  text-decoration: none;
}

.breadcrumb-container {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

::ng-deep a {
  text-decoration: none;
}

.breadcrumb-label-text {
  color: #444444;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.start-test {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.start-test-header {
  display: flex;
  justify-content: space-between;
}

.remain-time p {
  white-space: wrap;
}

.question-buttons {
  display: flex;
  gap: 10px;
}

.question-buttons button {
  width: 55px;
  height: 55px;
  background: none;
  border: 1.5px solid #E0E0E0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-buttons button.answered {
  background-color: #00B0EA; /* Синий цвет для отвеченных вопросов */
  color: white;
}

.question-buttons button.current-question {
  border: 2px solid #00B0EA; /* Подсвечивание текущего вопроса */
}

.question-card {
}

.question-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.question-header {
  border: 1px solid #E0E0E0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px 45px;
}

.question-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #E0E0E0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

.question-content h4 {
  font-size: 18px;
  color: #444;
}

.answers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

input[type="radio"] {
  position: relative;
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #bbb;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 7px solid #00B0EA;
}

input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s;
}

input[type="radio"]:checked::before {
  background-color: #00B0EA;
}

.custom-progress-bar {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 5px;
}

.progress-segment {
  flex: 1;
  height: 100%;
  border-radius: 5px;
  background-color: #E0E0E0;
}


@media (max-width: 768px) {

  .test-container {
    padding: 30px;
  }

  .test-content {
    flex-direction: column;
    gap: 30px;
  }

  .test-right {
    width: 100%;
    max-width: 350px;
  }
}
