<div class="footer-container">
  <div class="footer-content">
    <div class="logo-img">
      <img src="../../../assets/images/kursant_logo.png" alt="white-logo">
    </div>
    <div class="contacts">
      <b>Контакттар</b>
      <div class="icons">
        <a href="https://www.instagram.com/kursant.online?igsh=MXQ0dTNtMmEwYm1jNQ==" target="_blank"><img src="assets/images/Instagram_icon.png" alt="insta" width="35"></a>
        <a href="https://www.tiktok.com/@kursant.online" target="_blank"><img src="assets/images/social-media.png" alt="tiktok" width="41"></a>
      </div>
    </div>
    <div class="navigation">
      <b>Навигация</b>
      <p><a href="/">Басты бет</a></p>
    </div>
  </div>
</div>
