<div class="supplier-header">
  <div class="supplier-container">
    <h1 class="supplier-title">Тестант</h1>
  </div>
</div>

<div class="main-content">

  <div class="content-table-container">
    <p-table [value]="testants" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr >
          <th>Время начало</th>
          <th>Дедлайн</th>
          <th>Cсылка</th>
<!--          <th>Тест</th>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-progresses >
        <tr >
          <td>{{ progresses.start_time }}</td>
          <td>{{ progresses.deadline }}</td>
          <td (click)="loadLinks(progresses.id); $event.stopPropagation()" style="cursor: pointer; text-decoration: underline">Открыть</td>
<!--          <td (click)="$event.stopPropagation()">-->
<!--            <button-->
<!--              class="start-meeting-btn"-->
<!--              *ngIf="progresses.link">-->
<!--              Тест <i class="pi pi-lock-open"></i>-->
<!--            </button>-->

<!--            <button-->
<!--              class="start-meeting-btn disabled-btn"-->
<!--              disabled-->
<!--              *ngIf="!progresses.link">-->
<!--              Тест закрыт <i class="pi pi-lock"></i>-->
<!--            </button>-->
<!--          </td>-->
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
