<div class="main-container">
<div class="main-page">
  <div class="main-right">
    <div class="main-carousel">
      <img src="../../../assets/images/mainpage-carousel.svg" alt="carousel">
    </div>
    <div class="lil-cards">
      <div class="lil-card">
        <img src="../../../assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 поток</p>
          <h3>Потоктар</h3>
        </div>
      </div>
      <div class="lil-card">
        <img src="../../../assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 курс</p>
          <h3>Курстар</h3>
        </div>
      </div>
      <div class="lil-card">
        <img src="../../../assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 мұғалім</p>
          <h3>Мұғалімдер</h3>
        </div>
      </div>
    </div>
    <div class="kurstar">
      <div class="kurstar-text">
        <h2>Курстар</h2>
        <p>Барлық пәндер тізімі</p>
      </div>
      <div class="kurstar-cards">
        <div class="kurstar-card" *ngFor="let kurs of courses">
          <img [src]="kurs.poster" alt="subject1" class="kurs-images">
          <div class="kurs-card-content">
            <div class="kurs-info">
              <p class="bolim"><img src="../../../assets/images/bolim.svg" alt="bolim"> {{ kurs.modules_count }} бөлім</p>
              <p class="sabak"><img src="../../../assets/images/sabak.svg" alt="sabak"> {{ kurs.lessons_count }} сабақ</p>
            </div>
            <div class="subject-info">
              <h3>{{ kurs.name }}</h3>
              <p>Ең жақын поток: {{ kurs.flow_date }}</p>
              <hr>
            </div>
            <div class="kurs-footer">
              <div class="kurs-price">
                <h3>{{ kurs.price }} тг</h3>
                <p>бір реттік төлем</p>
              </div>
              <button (click)="addToCart(kurs.id)">Корзинаға</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Потоктар тізімі</h2>

    <div class="potoktar-tizimi">
      <div class="potok-card">
        <div class="potok-info">
          <p>Поток #1</p>
          <p>Дата: 22.09.2024</p>
        </div>
        <h3>ҰБТ-ға 3 профильді пән бойынша дайындық</h3>
        <div class="potok-subjects">
          <p class="subject_teacher" *ngFor="let sub of subjectAndTeacher">
            {{ sub.subject }} | {{ sub.teacher }}
          </p>
        </div>
        <div class="potok-footer">
          <button>Потокқа жазылу</button>
          <h3>123,000 ₸</h3>
          <p>бір реттік төлем</p>
        </div>
      </div>
      <div class="potok-card1">
        <div class="potok-info">
          <p>Поток #1</p>
          <p>Дата: 22.09.2024</p>
        </div>
        <h3>ҰБТ-ға 3 профильді пән бойынша дайындық</h3>
        <div class="potok-subjects">
          <p class="subject_teacher1" *ngFor="let sub of subjectAndTeacher">
            {{ sub.subject }} | {{ sub.teacher }}
          </p>
        </div>
        <div class="potok-footer">
          <button>Потокқа жазылу</button>
          <h3>123,000 ₸</h3>
          <p>бір реттік төлем</p>
        </div>
      </div>
    </div>

  </div>
  <div class="main-left">
    <div class="main-card">
      <div class="card-img">
        <img src="../../../assets/images/kurska-jazylu-img.svg" alt="kurska-jazylu">
      </div>
      <div class="card-content">
        <h2>Курсқа жазылу</h2>
        <p>Төмендегі ақпараттарды толтырып курс жайлы ақпарат ала аласыз</p>
      </div>
      <div class="card-form">
        <form [formGroup]="orderForm">
        <div class="card-input">
          <p>Аты-жөніңіз</p>
          <input type="text" pInputText placeholder="Аты-жөніңіз" formControlName = "fullname"/>
        </div>
        <div class="card-input">
          <p>Телефон номеріңіз</p>
          <input type="text" pInputText placeholder="+7 (___) ___ __ __" [mask]="'(000) 000 00 00'" prefix="+7 " formControlName = "phone_number"/>
        </div>
          <div class="card-submit">
            <button class="card-button" (click)="submitOrder()">
              Заявка қалдыру
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="mektep-statistika">
      <h3>Мектеп статистикасы</h3>
      <div class="statistika-images">
        <img src="../../../assets/images/statistika-img.svg" alt="statistika">
        <img src="../../../assets/images/statistika-img.svg" alt="statistika">
      </div>
    </div>
  </div>
</div>
</div>
