* {
  margin: 0;
  padding: 0;
  color: #444444;
}

.main-container{
  max-width: 1440px;
  margin: 0 auto;
}

.main-page {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-carousel img {
  width: 100%;
  height: auto;
}


.nav-search{
 display:none;
}

.lil-cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.lil-card {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  border-radius: 20px;
  max-width: 299px;
  height: 79px;
}

.lil-card img {
  width: 53px;
  height: 53px;
  margin: 13px;
}

.lil-card h3 {
  font-size: 20px;
  font-weight: 600;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  height: 500px;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-submit {
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

.card-input p {
  font-size: 13px;
}

.card-input input {
  width: 100%;
  height: 38px;
  background-color: #fdfafa;
  padding: 10px;
}

.card-input input::placeholder {
  font-size: 11px;
  color: #DDDDDD;
}


.card-button{
  padding:20px;
  background-color:#2A6DB3;
  text-align:center;
  border-radius:15px;
  border:none;
  color:white;
}

.kurstar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kurstar-text {
  display: flex;
  justify-content: space-between;
}

.kurstar-text h2 {
  font-size: 25px;
  font-weight: 600;
}

.kurstar-text p {
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.kurstar-cards {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
  grid-gap: 20px;
}

.kurstar-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.kurstar-card:hover {
  transform: translateY(-5px);
}

.kurs-images {
  width: 100%;
  height: auto;
  max-height: 135px;
  border-radius: 20px;
  object-fit: cover;
}


.subject-info h3 {
  font-size: 22px;
  font-weight: 600;
}

.subject-info p {
  font-size: 14px;
  color: #A4A4A4;
  margin-bottom: 10px;
}

.kurs-card-content {
  display: flex;
  flex-direction: column;
  padding: 13px;
  gap: 15px;
}

.kurs-info {
  display: flex;
  gap: 7px;
}

.bolim {
  display: flex;
  gap: 8px;
  background-color: #B5E8F9;
  color: #00B0EA;
  border-radius: 20px;
  padding: 3px 12px;
  font-size: 14px;
  white-space: nowrap;
}

.sabak {
  display: flex;
  gap: 8px;
  background-color: #CCC7FF;
  color: #6E63E5;
  border-radius: 20px;
  padding: 3px 12px;
  font-size: 14px;
  white-space: nowrap;
}

.kurs-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-cart-button {
  display: flex;
  height: 28px;
  border: 1px solid #2A6DB3;
  background-color: white;
  color: #2A6DB3;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.course-cart-button:hover {
  background-color: #2A6DB3;
  color: white;
}

.kurs-price h3 {
  font-size: 19px;
  font-weight: 700;
}

.kurs-price p {
  font-size: 13px;
  color: #A4A4A4;
}

.potoktar-tizimi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.potok-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  border-left: 12px solid #00B0EA;
  padding: 20px;
}

.potok-card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  border-left: 12px solid #6E63E5;
  padding: 20px;
}

.potok-card h3 {
  font-size: 20px;
  font-weight: 500
}

.potok-info {
  display: flex;
  gap: 54px;
}

.potok-info p {
  font-size: 15px;
  font-weight: 500;
  color: #A4A4A4;
}

.potok-subjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px;
  margin-bottom: 15px;
}
.subject_teacher {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5E8F9;
  border-radius: 10px;
  color: #00B0EA;
  font-size: 14px;
  padding:14px;
  height: 22px;
  white-space: nowrap;
}

.subject_teacher1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCC7FF;
  border-radius: 10px;
  color: #6E63E5;
  font-size: 10px;
  height: 22px;
}

.potok-footer {
  display: flex;
  align-items: center;
  gap: 23px;
}

.potok-footer button {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #444444;
  color: #ffff;
  font-size: 10px;
  padding: 10px 20px;
}

.potok-footer h3 {
  font-size: 18px;
  font-weight: 600;
}

.potok-footer p {
  font-size: 12px;
}

.mektep-statistika {
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}

.statistika-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1390px) {
  .lil-cards {
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
  }

  .kurstar-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .kurs-images {
    width: 100%;
    height: auto;
  }

  .potok-info {
    flex-direction: column;
    gap: 15px;
  }

  .potok-subjects {
    grid-template-columns: repeat(3, 1fr);
  }

  .lil-card {
    width: 100%;
    max-width: none;
  }

  .potok-card, .potok-card1 {
    padding: 15px;
  }

  .potok-footer {
    display:flex;
    gap: 10px;
  }

  .subject-info h3 {
    font-size: 18px;
  }

  .subject-info p {
    font-size: 12px;
  }

  .kurs-footer button {
    font-size: 10px;
    padding: 6px 10px;
  }

  .kurstar-text h2 {
    font-size: 22px;
  }

  .kurstar-text p {
    font-size: 15px;
  }

  .kurs-price h3 {
    font-size: 14px;
  }

  .kurs-price p {
    font-size: 9px;
  }

  .mektep-statistika {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
}


@media (max-width: 1200px) {
  .main-page {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  .lil-cards {
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
  }

  .kurstar-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .kurs-images {
    width: 100%;
    height: auto;
  }

  .potok-info {
    flex-direction: column;
    gap: 15px;
  }

  .potok-subjects {
    grid-template-columns: repeat(2, 1fr);
  }

  .lil-card {
    width: 100%;
    max-width: none;
  }

  .potok-card, .potok-card1 {
    padding: 15px;
  }

  .potok-footer {
    display:flex;
    gap: 10px;
  }

  .subject-info h3 {
    font-size: 18px;
  }

  .subject-info p {
    font-size: 12px;
  }

  .kurs-footer button {
    font-size: 10px;
    padding: 6px 10px;
  }

  .kurstar-text h2 {
    font-size: 22px;
  }

  .kurstar-text p {
    font-size: 15px;
  }

  .kurs-price h3 {
    font-size: 15px;
  }

  .kurs-price p {
    font-size: 9px;
  }

  .mektep-statistika {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
}


@media (max-width: 768px) {
  .main-container{
    padding:10px;
  }
  .main-page {
    flex-direction: column;
  }

  .nav-search {
    display: flex;
    flex: 1;
    position: relative;
  }

  .nav-search .search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-search input {
    width: 100%;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 10px;

    height: 38px;
    background-color: #FFFFFF;
  }

  .lil-cards {
    flex-direction: column;
    gap: 15px;
  }

  .kurstar-cards {
    grid-template-columns: 1fr;
  }

  .potok-info {
    flex-direction: column;
    gap: 20px;
  }

  .potok-subjects {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .subject_teacher {
    display: inline-block;
    background-color: #B5E8F9;
    color: #00B0EA;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
  }

  .kurs-images {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 180px;
  }

  .lil-card {
    width: 100%;
    max-width: none;
  }

  .potok-card, .potok-card1 {
    padding: 15px;
  }

  .potok-footer {
    display:flex;
    justify-content: left;
    gap: 10px;
  }
}


@media (max-width: 425px) {
  .main-page {
    gap: 15px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
  }


  .lil-cards {
    gap: 10px;
  }

  .kurstar-cards {
    grid-template-columns: 1fr;
  }

  .potok-info {
    gap: 15px;
  }

  .potok-subjects {
    grid-template-columns: 1fr;
  }

  .lil-card {
    height: auto;
    padding: 10px;
  }

  .potok-card,
  .potok-card1 {
    padding: 10px;
  }

  .potok-footer {
    display:flex;
    justify-content: left;
    gap: 8px;
  }

  .kurs-images {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 120px;
  }

  .card-content h2,
  .potok-card h3 {
    font-size: 18px;
  }

  .card-content p,
  .potok-info p,
  .potok-footer p {
    font-size: 12px;
  }

  .mektep-statistika{
    display:none;
  }
}


:host ::ng-deep  .p-dialog-content{
  padding:0;
}
