<div class="main-page">

  <div class="content-wrapper">
    <div class="content">
      <h1>Үй жұмысы</h1>

      <div class="task-block" *ngFor="let homework of learnerHomeWorks">
        <div class="task-title">{{ homework.course_name }}</div>
        <div class="task-info">{{ homework.module_name }}</div>
        <div class="task-info">{{ homework.topic_name }}</div>
        <div class="task-date-time">
          <span class="task-time"
                [ngClass]="{'text-red': isLate(homework.deadline)}">{{ homework.deadline }}</span>
        </div>
        <div class="task-score">{{ homework.mark }}/100</div>
        <div class="task-status">
          <img src="assets/images/correct.svg" alt="right" *ngIf="homework.status === 'passed'" width="15" height="15">
          <img src="assets/images/expired.svg" alt="right" *ngIf="homework.status === 'retake'" width="15" height="15">
          <img src="assets/images/closed.svg" alt="right" *ngIf="homework.status === 'closed'" width="15" height="15">
          <img src="assets/images/closed.svg" alt="right" *ngIf="homework.status === 'opened_retake'" width="15" height="15">
          <img src="assets/images/closed.svg" alt="right" *ngIf="homework.status === 'passed_retake'" width="15" height="15">

        </div>
        <div class="task-arrow">
          <img src="assets/images/right-arrow.svg" alt="right">
        </div>
      </div>

    </div>
  </div>
</div>
