<div class="admin-container">
  <div class="sidebar" >
    <div class="sidebar-header">
      <div class="head">
        <h3>Qwerty</h3>
      </div>
      <a routerLink="../catalog" target="_blank" rel="noopener noreferrer">Открыть сайт</a>
      <hr class="divider">
    </div>
    <ul class="sidebar-menu">
      <li ><a class="sidebar-menu-links" routerLink="applications"
                                               routerLinkActive="active"
                                               [routerLinkActiveOptions]="{ exact: false }"><img
        src="assets/images/truck_icon.svg" alt="truck" width="14" height="14"/> Поставщики</a></li>
      <li ><a class="sidebar-menu-links" routerLink="/admin/products"
                                              routerLinkActive="active"
                                              [routerLinkActiveOptions]="{ exact: false }"><img
        src="assets/images/boxs_icon.svg" alt="box" width="14" height="14"/> Товары</a></li>
      <li ><a class="sidebar-menu-links" routerLink="supplier-debt"
                                                 routerLinkActive="active"
                                                 [routerLinkActiveOptions]="{ exact: false }"><img
        src="assets/images/partner_icon.svg" alt="partner" width="14" height="14"/> История заказов</a></li>

    </ul>
    <div class="logout-container">
      <a  routerLinkActive="active" class="logout"> <img src="assets/images/exit_icon.svg"
                                                                             alt="guide" width="14"
                                                                             height="14"/>Выйти</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
