<div class="main-page">
  <div class="main-right">

    <div class="main-carousel">
      <img src="assets/images/mainpage-carousel.svg" alt="carousel">
    </div>

    <div class="lil-cards">
      <div class="lil-card">
        <img src="assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 поток</p>
          <h3>Потоктар</h3>
        </div>
      </div>
      <div class="lil-card">
        <img src="assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 курс</p>
          <h3>Курстар</h3>
        </div>
      </div>
      <div class="lil-card">
        <img src="assets/images/lil-card-img.svg" alt="lil-card">
        <div>
          <p>3 мұғалім</p>
          <h3>Мұғалімдер</h3>
        </div>
      </div>
    </div>

  </div>

  <div class="main-left">
    <div class="main-card">
      <div class="card-img">
        <img src="assets/images/kurska-jazylu-img.svg" alt="kurska-jazylu">
      </div>
      <div class="card-content">
        <h2>Курсқа жазылу</h2>
        <p>Төмендегі ақпараттарды толтырып курс жайлы ақпарат ала аласыз</p>
      </div>
      <div class="card-form">
        <div class="card-input">
          <p>Аты-жөніңіз</p>
          <input type="text" pInputText placeholder="Аты-жөніңіз"/>
        </div>
        <div class="card-input">
          <p>Телефон номеріңіз</p>
          <input type="text" pInputText placeholder="+7 777 777 7777"/>
        </div>
      </div>
    </div>
  </div>
</div>
