* {
  margin: 0;
  padding: 0;
  color: #444444;
}

.main-page {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-carousel {

}

.lil-cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.lil-card {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  border-radius: 20px;
  max-width: 299px;
  height: 79px;
}

.lil-card img {
  width: 53px;
  height: 53px;
  margin: 13px;
}

.lil-card h3 {
  font-size: 20px;
  font-weight: 600;
}



.main-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  height: 435px;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-input p {
  font-size: 13px;
}

.card-input input {
  width: 100%;
  height: 38px;
  background-color: #fdfafa;
  padding: 10px;
}

.card-input input::placeholder {
  font-size: 11px;
  color: #DDDDDD;
}
