<div class="course-page">
  <div class="supplier-header">
    <div class="supplier-container">
      <h1 class="supplier-title">Курсы</h1>
      <hr style="transform: scaleY(0.3);">
      <div class="supplier-actions">
        <div class="search-form">
          <label for="supplierSearch" class="visually-hidden">ID, ФИО</label>
          <input type="text" id="supplierSearch" placeholder="Название" class="search-input"/>
          <button type="submit" class="search-button" (click)="onSearch()">Поиск</button>
        </div>
        <button class="add-course-btn" (click)="showAddCourseDialog()" *ngIf="activeTab === 'courseContent'">
          Добавить курс
        </button>
        <button class="add-course-btn" (click)="showAddFlowDialog()" *ngIf="activeTab === 'flowWorks'">
          Добавить поток
        </button>
      </div>
    </div>
  </div>
  <div class="main-content">

    <div class="content-buttons">
      <button class="content-button" (click)="setActiveTab('courseContent')"
              [class.active]="activeTab === 'courseContent'">
        <img src="../../../../assets/images/time_icon.svg" alt="Courses" class="logo"/>
        <div class="content-button-names">
          <h3>Курстар</h3>
          <p>{{ courses.length }} курс</p>
        </div>
      </button>
      <button class="content-button" (click)="setActiveTab('flowWorks')" [class.active]="activeTab === 'flowWorks'">
        <img src="../../../../assets/images/potok_icon.svg" alt="Courses" class="logo"/>
        <div class="content-button-names">
          <h3>Поток</h3>
          <p>{{ flows.length }} поток</p>
        </div>
      </button>
    </div>

    <ng-container *ngIf="activeTab === 'courseContent'">
      <div class="content-items">
        <div class="kurstar-card" *ngFor="let course of courses" (click)="navigateToEditCourse(course.id!)">
          <img [src]="course.poster" alt="subject1" class="kurs-images">
          <div class="kurs-card-content">
            <div class="kurs-info">
              <p class="bolim">
                <img src="../../../../assets/images/bolim.svg" alt="bolim">
                {{ course.modules_count }} бөлім
              </p>
              <p class="sabak">
                <img src="../../../../assets/images/sabak.svg" alt="sabak">
                {{ course.lessons_count }} сабақ
              </p>
            </div>
            <div class="subject-info">
              <h3>{{ course.name }}</h3>
              <p>Ең жақын поток: {{ course.flow_date }}</p>
              <hr>
            </div>
            <div class="kurs-footer">
              <div class="kurs-price">
                <h3>{{ course.price }} тг</h3>
                <p>бір реттік төлем</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="activeTab === 'flowWorks'">
      <div class="flow-item" [ngClass]="getFlowColorClass(i)" *ngFor="let flow of flows; let i = index"
           (click)="navigateToFlowDetails(flow.flow_id)">
        <div class="flow-head">
          <div class="flow-header">
            <span class="flow-stream">Поток #{{ i + 1 }}</span>
            <span class="flow-date">Дата: {{ flow.starts_at }}</span>
          </div>
          <p-confirmPopup/>
          <button class="delete-curator" (click)="removeFlow($event, flow.flow_id); $event.stopPropagation()">
            <img  src="assets/images/delete_icon.svg" alt="delete" width="14" height="14"/>
          </button>
        </div>
        <div class="flow-title">{{ flow.name }}</div>
        <div class="flow-tags">
          <span class="flow-tag" [ngClass]="getFlowColorClass(i)"
                *ngFor="let tag of flow.courses">{{ tag.name }} | {{ tag.teacher_fullname }}</span>
        </div>
      </div>
    </ng-container>


  </div>
</div>

<p-dialog header="client-edit" [modal]="true" [(visible)]="visibleAddCourseModal" [style]="{width: '996px'}"
          [draggable]="false">
  <ng-template pTemplate="header">
    <div class="client-edit__header">
      <h3 class="client-edit__title">Добавить курс</h3>
    </div>
  </ng-template>

  <form class="client-edit__form" [formGroup]="courseAddForm">
    <div class="form-group">
      <label for="name" class="form-label">Название</label>
      <input type="text" id="name" class="form-input" formControlName="name">
      <div *ngIf="courseAddForm.get('name')?.invalid && courseAddForm.get('name')?.touched">
        <small class="error">*Название обязательно для заполнения</small>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="form-label">Описание курса</label>
      <p-editor id="description" formControlName="description" appAutoExpand></p-editor>
    </div>

    <div class="form-group1">
      <div>
        <label for="file" class="form-label">Обложка курса</label>
        <div class="custom-file-upload">
          <input type="file" id="file" class="file-input" (change)="onPosterSelected($event)"/>
          <span class="file-upload-button" (click)="triggerFileInput('file')">Выберите файл</span>
          <span class="file-upload-filename">
            <a *ngIf="selectedPosterName" [href]="selectedPosterName" target="_blank">{{ selectedPosterName }}</a>
                <span *ngIf="!selectedPosterName">Файл не выбран</span>
          </span>
        </div>
      </div>
      <div>
        <label for="file1" class="form-label">Большая обложка</label>
        <div class="custom-file-upload">
          <input type="file" id="file1" class="file-input" (change)="onBigPosterSelected($event)"/>
          <span class="file-upload-button" (click)="triggerFileInput('file1')">Выберите файл</span>
          <span class="file-upload-filename">
            <a *ngIf="selectedBigPosterName" [href]="selectedBigPosterName" target="_blank">{{ selectedBigPosterName }}</a>
                <span *ngIf="!selectedBigPosterName">Файл не выбран</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price" class="form-label">Цена</label>
      <input type="text" id="price" class="form-input" formControlName="price">
      <div *ngIf="courseAddForm.get('price')?.invalid && courseAddForm.get('price')?.touched">
        <small class="error" *ngIf="courseAddForm.get('price')?.errors?.['required']">*Цена обязательна</small>
        <small class="error" *ngIf="courseAddForm.get('price')?.errors?.['pattern']">*Только цифры разрешены</small>
      </div>
    </div>

    <div class="form-group">
      <label for="percentage" class="form-label">Скидка</label>
      <input type="text" id="percentage" class="form-input" formControlName="discount_percentage" placeholder="%">
      <div *ngIf="courseAddForm.get('discount_percentage')?.invalid && courseAddForm.get('discount_percentage')?.touched">
        <small class="error" *ngIf="courseAddForm.get('discount_percentage')?.errors?.['required']">*Скидка обязательна</small>
        <small class="error" *ngIf="courseAddForm.get('discount_percentage')?.errors?.['min']">*Минимум 0%</small>
        <small class="error" *ngIf="courseAddForm.get('discount_percentage')?.errors?.['max']">*Максимум 99%</small>
        <small class="error" *ngIf="courseAddForm.get('discount_percentage')?.errors?.['pattern']">*Только цифры разрешены</small>
      </div>
    </div>

    <div class="form-group">
      <label for="teacherFio" class="form-label">ФИО учителя</label>
      <input type="text" id="teacherFio" class="form-input" formControlName="teacher_fullname">
      <div *ngIf="courseAddForm.get('teacher_fullname')?.invalid && courseAddForm.get('teacher_fullname')?.touched">
        <small class="error">*Название обязательно для заполнения</small>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="btn btn--primary" (click)="onSubmitAddCourse()">Добавить</button>
      <button type="button" class="btn btn--secondary" (click)="onCancel()">Отмена</button>
    </div>
  </form>


</p-dialog>

<p-dialog header="client-edit" [modal]="true" [(visible)]="visibleAddFlowModal" [style]="{width: '600px'}"
          [draggable]="false">
  <ng-template pTemplate="header">
    <div class="client-edit__header">
      <h3 class="client-edit__title">Добавить поток</h3>
    </div>
  </ng-template>

  <form class="client-edit__form" [formGroup]="flowAddForm">
    <div class="form-group">
      <label for="name1" class="form-label">Название потока</label>
      <input type="text" id="name1" class="form-input" formControlName="name">
    </div>

    <div class="form-group">
      <label for="startDate" class="form-label">Дата начала потока</label>
      <input type="date" id="startDate" class="form-input" formControlName="starts_at">
    </div>

    <div class="form-actions">
      <button type="button" class="btn btn--primary" (click)="onSubmitAddFlow()">Добавить</button>
      <button type="button" class="btn btn--secondary" (click)="onCancel()">Отмена</button>
    </div>
  </form>
</p-dialog>
