<div class="edit-course-header">
  <div class="header-text">
    <img src="../../../../assets/images/back-arrow.svg" alt="back" (click)="back()">
    <h3>Тақырып {{ topicIndex }}. {{ topicName }}</h3>
  </div>
  <div class="course-actions">
    <p-confirmPopup/>
    <button class="delete-course-btn" (click)="deleteTopic($event, topicId)">Удалить тему</button>
  </div>
</div>

<form [formGroup]="testForm">
  <div class="edit-course-page">
    <div class="edit-course-container">
      <h4>Уроки</h4>
      <div class="modules">
        <div class="module" *ngFor="let lesson of lessons; let i = index">
          <span class="module-span"><strong>Сабақ {{ i + 1 }}.</strong> {{ lesson.name }}</span>
          <div>
            <div class="custom-file-upload">
              <input type="file" id="file{{ i }}" class="file-input" (change)="onFileSelected($event, i)"/>
              <span class="file-upload-button" (click)="triggerFileInput(i)">Выберите файл</span>
              <span class="file-upload-filename">{{ lesson.fileName || 'Файл не выбран' }}</span>
            </div>
          </div>
          <p-confirmPopup/>
          <button class="delete-course-btn" (click)="removeLessonFile($event, i)">Удалить файл</button>
          <p-confirmPopup/>
          <button class="delete-course-btn" (click)="deleteLesson($event, i)">Удалить урок</button>
        </div>
      </div>
      <button class="add-module-btn" (click)="showAddDialog()">Добавить урок</button>
    </div>
    <hr>
    <div class="edit-course-container">
      <h4>Тест</h4>
      <div formArrayName="questions" class="test">
        <div *ngFor="let question of questions().controls; let qIndex = index" [formGroupName]="qIndex"
             class="test-container">
          <div class="test-header">
            <h5>Вопрос {{ qIndex + 1 }}</h5>
            <p-confirmPopup/>
            <button type="button" (click)="deleteQuestion($event, qIndex)"><i class="pi pi-times"></i></button>
          </div>
          <div class="question">
            <p>Cұрақтың берілген</p>
            <p-editor formControlName="text" [style]="{height: '50px'}"></p-editor>
          </div>
          <div class="answers" formArrayName="answers">
            <p>Нұсқалар</p>
            <div class="answer-inputs">
              <div class="answer" *ngFor="let answer of answers(qIndex).controls; let aIndex = index" [formGroupName]="aIndex">
                <label class="answer-label">
                  <input type="radio"
                         [attr.name]="'answer-' + qIndex"
                         [checked]="answer.get('is_correct')?.value"
                         (change)="setCorrectAnswer(qIndex, aIndex)">
                  <span class="radio-custom"></span>
                  <input type="text" class="answer-text" formControlName="text" placeholder="Введите текст ответа">
                </label>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="add-module-btn" (click)="addQuestion()">Добавить вопрос</button>
      </div>
    </div>
    <hr>
    <div class="edit-course-container">
      <h4>Домашнее задание</h4>
      <div>
        <p>Картинка №1</p>
        <div class="custom-file-upload">
          <input type="file" id="homeworkFile" class="file-input" (change)="onHomeworkFileSelected($event)"/>
          <span class="file-upload-button" (click)="triggerHomeworkFileInput()">Выберите файл</span>
          <span class="file-upload-filename">{{ homeworkFileName || 'Файл не выбран' }}</span>
        </div>
      </div>
      <div>
        <div class="question">
          <p>Описание</p>
          <p-editor formControlName="description" [style]="{height: '50px'}"></p-editor>
        </div>
      </div>
      <div class="edit-course-footer">
        <button class="btn start-btn" (click)="saveContent()">Сохранить</button>
        <button class="btn back-btn" (click)="back()">Отмена</button>
      </div>
    </div>
  </div>
</form>

<p-dialog class="test-modal" header="Добавить урок" [modal]="true"
          [(visible)]="AddLessonVisible" draggable="false">
  <form [formGroup]="addLessonForm" class="client-edit__form">
    <div class="form-group">
      <label for="name1" class="form-label">Название</label>
      <input type="text" id="name1" class="form-input" formControlName="name">
    </div>
    <div class="modal-footer">
      <button class="btn start-btn" (click)="addLesson()">Добавить</button>
      <button class="btn back-btn" (click)="AddLessonVisible = false">Отмена</button>
    </div>
  </form>
</p-dialog>

