<div class="test-container">

  <div class="breadcrumb-container" (click)="back()">
    <img src="assets/images/back-arrow.svg" alt="back">
    <span class="breadcrumb-label-text">{{ courseName }} / {{ topicName }}</span>
  </div>

  <div class="test-header">
    <h2>Үй жұмысы</h2>
    <p>Мұғалім: {{ teacherName }}</p>
  </div>

  <div class="test-content">
    <div class="test-left">
      <div class="homework-info">
        <p><strong>Описание дз:
          <div [innerHTML]="sanitizeHtmlContent(description)"></div>
        </strong></p>
        <p>Дедлайн: {{ deadline }}</p>
        <a class="download-hw" [href]="userUrl + homework?.file" download target="_blank">
          <img src="../../../assets/images/download-homework.svg" alt="download">
          Үй жұмысының берілгені
        </a>
      </div>
      <div class="upload-hw">
        <div>
          <p>Жауабы</p>
          <div class="custom-file-upload">
            <input type="file" id="homeworkFile" class="file-input" (change)="onHomeworkFileSelected($event)"/>
            <span class="file-upload-button" (click)="triggerHomeworkFileInput()">Выберите файл</span>
            <span class="file-upload-filename">
              <a *ngIf="homeworkFileName" [href]="homeworkFileName" target="_blank">{{ homeworkFileName }}</a>
                <span *ngIf="!homeworkFileName">Файл не выбран</span>
            </span>
          </div>
        </div>
        <button *ngIf="homeworkFile" (click)="submitHomework()">Жіберу</button>
      </div>
    </div>

    <div class="test-right">
      <h3><strong>{{ topicName }}. Үй жұмысы</strong></h3>
      <div class="progress-wrapper">
        <p>Тақырып прогрессі</p>
        <div class="custom-progress-bar">
          <div class="progress-segment" *ngFor="let segment of progressSegments"
               [ngStyle]="{'background-color': segment.filled ? '#00B69B' : '#E0E0E0'}">
          </div>
        </div>
      </div>

      <div class="sabaktar">
        <div *ngFor="let item of lessonsAndTests; let i = index"
             class="sabak"
             [ngClass]="{'inactive': item.status !== 'passed' && item.status !== 'opened'}"
             [routerLink]="getRouterLink(item)"
             [style.cursor]="item.status === 'passed' || item.status === 'opened' ? 'pointer' : 'default'">

          <img [src]="getTemaStatusIcon(item.status)" alt="status">
          <p>{{ i + 1 }}
            {{ item.type === 'test' ? 'тест' : item.type === 'homework' ? 'үй жұмысы' : 'сабақ' }}.
            {{ item.type === 'test' ? 'Тест' : item.type === 'homework' ? 'Үй жұмысы' : item.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
