* {
  margin: 0;
  padding: 0;
}

.test-container {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  gap: 20px;
}

.test-content {
  display: flex;
  flex-direction: column;
  max-width:1400px;
  gap: 20px;
}

.video {
}

.test-header {
  display: flex;
  justify-content: space-between;
}

.next-sabak-button {
  color: #2A6DB3;
  border: 1px solid #2A6DB3;
  background: none;
  height: 40px;
  border-radius: 10px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.test-video-container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container {
  width: 100%;
  max-width: 100%;

  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.test-right {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 36px;
  border: 1px solid #BBBBBB;
  border-radius: 30px;
  width:400px;
  max-width: 600px;
}

.test-right h3 {
  font-size: 20px;
}

p-progressBar {
  height: 5px;
}

.sabaktar img {
  width: 17px;
  height: 17px;
}

.sabaktar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sabak {
  display: flex;
  gap: 15px;
}

.sabak p {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.progress-wrappper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress-wrappper p {
  font-size: 13px;
  color: #000000;
  font-weight: 500;
}

::ng-deep .p-breadcrumb {
  margin: 0;
  padding: 0;
  border: none;
}

::ng-deep .p-breadcrumb-list {
  margin: 0;
  padding: 0;
}

::ng-deep .p-menuitem-separator {
  margin: 0;
  padding: 0;
}

.p-menuitem-link {
  text-decoration: none;
}

.breadcrumb-container {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

::ng-deep a {
  text-decoration: none;
}

.breadcrumb-label-text {
  color: #444444;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}


.start-test{
  background-color:#8ced47;
  border-radius:10px;
}


.custom-progress-bar {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 5px;
}

.progress-segment {
  flex: 1;
  height: 100%;
  border-radius: 5px;
  background-color: #E0E0E0;
}
