<div class="test-container">
  <div class="test-content">

    <div class="breadcrumb-container" (click)="back()">
      <img src="assets/images/back-arrow.svg" alt="back">
      <span class="breadcrumb-label-text">{{ courseName }} / {{ topicName }}
        / {{ lessonName }}</span>
    </div>

    <div class="test-header">
      <div class="header-text">
        <h2><strong>{{ topicName }}. {{ lessonName }}</strong>/ {{ lessonIndex }} сабақ</h2>
        <p>Мұғалім: {{ teacherName }}</p>
      </div>
      <button class="next-sabak-button" (click)="nextLesson()" *ngIf="nextLessonIsAvailable">Келесі сабақ</button>
    </div>

    <div class="test-video-container">

      <div class="video">
        <div class="video-container">
          <video #plyrID id="plyrID" playsinline controls></video>

        </div>
      </div>

      <div class="test-right">
        <h3><strong>{{ topicName }}. {{ lessonName }}</strong></h3>
        <div class="progress-wrapper">
          <p>Тақырып прогрессі</p>
          <p-progressBar [value]="progress" [showValue]="false" class="progress-bar" color="#00B69B"></p-progressBar>
        </div>

        <!-- Список уроков -->
        <div class="sabaktar">
          <div *ngFor="let lesson of lessons; let i = index" class="sabak">
            <img [src]="getTemaStatusIcon(lesson.status)" alt="status">
            <p>{{ i + 1 }} сабақ. {{ topicName }}. {{ lesson.name }}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
