.sidebar {
  width: 84px;
  transition: width 0.6s ease;
}

.sidebar-expanded {
  width: 250px;
}

.content {
  transition: margin-left 0.4s ease;
  margin-left: 84px;
}

.content-expanded {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease;
  }

  .sidebar-expanded {
    left: 0;
  }

  .content {
    margin-left: 0;
  }

  .sidebar-expanded + .content {
    margin-left: 270px;
  }
}
