<div class="edit-course-header">
  <div class="header-text">
    <img src="assets/images/back-arrow.svg" alt="back" (click)="back()">
    <h3> Поток #1/Қазақстан тарихы </h3>
  </div>
  <div class="course-actions">
    <button class="edit-course-btn">Редактировать</button>
  </div>
</div>
<div class="edit-course-page" *ngIf="deadlineForm">
  <div class="courseName">
    <h4>Қазақстан тарихы</h4>
  </div>
  <form [formGroup]="deadlineForm" (ngSubmit)="save()">
    <div class="flow-page-container" formArrayName="modules"
         *ngFor="let moduleControl of modulesControls.controls; let moduleIndex=index">
      <div [formGroupName]="moduleIndex" class="module">
        <h4>Модуль {{ moduleIndex + 1 }}</h4>
        <div class="flowTopics" formArrayName="topics"
             *ngFor="let topicControl of getTopicControls(moduleIndex).controls; let topicIndex=index">
          <div [formGroupName]="topicIndex" class="topic">
            <h5>Тема {{ topicIndex + 1 }}</h5>

            <div class="flowLessons">
              <div formArrayName="lessons"
                   *ngFor="let lessonControl of getLessonControls(moduleIndex, topicIndex).controls; let lessonIndex=index">
                <div [formGroupName]="lessonIndex" class="lesson">
                  <label for="lesson{{ moduleIndex }}{{ topicIndex }}{{ lessonIndex }}">Дедлайн
                    урока {{ lessonIndex + 1 }}</label>
                  <input id="lesson{{ moduleIndex }}{{ topicIndex }}{{ lessonIndex }}" type="text"
                         formControlName="deadline">
                  <div *ngIf="lessonControl.get('deadline')?.errors?.['invalidDateTime']" class="invalid-feedback">
                    Неверный формат даты. Требуемый формат: DD.MM.YYYY hh:mm
                  </div>
                </div>
              </div>

              <div formGroupName="test" class="lesson">
                <label for="test{{ moduleIndex }}{{ topicIndex }}">Дедлайн теста:</label>
                <input id="test{{ moduleIndex }}{{ topicIndex }}" type="text" formControlName="deadline">
                <div *ngIf="topicControl.get('test')!.get('deadline')!.errors?.['invalidDateTime']"
                     class="invalid-feedback">
                  Неверный формат даты. Требуемый формат: DD.MM.YYYY hh:mm
                </div>
              </div>

              <div formGroupName="homework" class="lesson">
                <label for="homework{{ moduleIndex }}{{ topicIndex }}">Дедлайн домашнего задания:</label>
                <input id="homework{{ moduleIndex }}{{ topicIndex }}" type="text" formControlName="deadline">
                <div *ngIf="topicControl.get('homework')!.get('deadline')!.errors?.['invalidDateTime']"
                     class="invalid-feedback">
                  Неверный формат даты. Требуемый формат: DD.MM.YYYY hh:mm
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn start-btn">Сохранить</button>
      <button type="button" class="btn back-btn" (click)="back()">Отмена</button>
    </div>
  </form>
</div>
