:host ::ng-deep .p-dialog-content {
  padding: 0px 54px 33px 45px;
  overflow: auto; /* Оставляем прокрутку */
}

/* Скрываем скроллбар для браузеров на основе WebKit (Chrome, Safari) */
:host ::ng-deep .p-dialog-content::-webkit-scrollbar {
  width: 0; /* Убираем скроллбар */
  background: transparent; /* Делаем его прозрачным */
}

/* Для Firefox */
:host ::ng-deep .p-dialog-content {
  scrollbar-width: none; /* Убираем скроллбар */
}

.supplier-container {
  background-color: #fff;
  padding: 28px 32px 15px;
}

.supplier-title {
  color: #1d1d42;
  font-size: 22px;
  line-height: 1;
  margin: 0 0 29px;
}

.supplier-actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-input {
  width: 230px;
  padding: 9px;
  font-size: 14px;
  border-radius: 8px 0 0 8px;
  color: #1D1D42;
  border: 3px solid #1D1D42;
}

.search-button {
  background-color: #1d1d42;
  color: #fff;
  border: none;
  padding: 11px 25px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.add-course-btn {
  background-color: #00ADEF;
  height: 40px;
  width: 150px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.add-btn-course {
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  text-decoration:underline;
}
/**Контент**/

.main-content {
  padding: 20px;
}



.content-table-container {
  background-color: white;
  padding: 20px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-supplier-table {
  width: 100%;
  border-collapse: collapse;
}

.content-supplier-table th, .content-supplier-table td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

:host ::ng-deep .p-datatable {
  width: 100%;
}

:host ::ng-deep .p-datatable-thead > tr > th {
  text-align: left;
  background-color: transparent;
  padding: 10px;
  color:#d2d2d2;
  border-bottom: 1px solid #dfdede;

}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > th {
  text-align: left;
  border-bottom: 2px solid #F9FAFC;
  padding: 10px;
}

.new {
  color: #00B69B;
}

.completed {
  color: #17B7EC;
}

.canceled {
  color: #F93C65;
}

/**Модал*/

.username{
  padding:5px;
  background-color:#E8E8E8;
  border-radius: 10px;
  font-weight:normal;
  color:black;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  gap:20px;
}


.block-two {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group.activ {
  display: flex;
  gap: 20px;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width:100%;
}

.input-container input {
  flex: 1;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
}

.edit-btn {
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn i {
  font-size: 16px;
  color: #333;
}

.p-multiselect {
  width: 100%;
}

:host ::ng-deep .p-multiselect .p-multiselect-label {
  font-size: 14px;
  color: #333;
}

:host ::ng-deep .p-multiselect .p-multiselect-token {
  background-color: #007bff;
  color: #fff;
  border-radius: 12px;
  padding: 5px 10px;
}

:host ::ng-deep .p-multiselect .p-multiselect-token-icon {
  color: #fff;
}

:host ::ng-deep .p-element .p-inputwrapper {
  width: 97%;
  max-width: 97%;
}

:host ::ng-deep .p-multiselect-item {
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s;
}

:host ::ng-deep .p-multiselect-item:hover {
  background-color: #f0f0f0;
}




.button-group {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  gap: 10px;
}

.filled-button {
  background-color: #444444;
  color: #fff;
  padding:10px 60px;
  border-radius: 10px;
}

.delete-button {
  border: 1px solid #333;
  color: #333;
  border-radius: 10px;
  background-color: transparent;
  white-space: nowrap;
}


.text-button {
  border: 1px solid #333;
  color: #333;
  border-radius: 10px;
  background-color: transparent;
}


::ng-deep .p-dropdown-items {
  padding-left: 0;
}
.flex {
  display: flex;
  align-items: center;
}

.flex-line {
  flex-wrap: nowrap;
}

.gap-3 {
  gap: 1rem;
}

.w-25rem {
  width: 25rem;
}

.add-btn, .close-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn {
  background-color: #4caf50;
  color: white;
}

.add-btn:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.close-btn:hover {
  background-color: #e53935;
  transform: scale(1.1);
}

.add-btn i, .close-btn i {
  font-size: 1.2em;
}
