<div class="main-page">
  <div class="main-right">
    <div class="main-carousel">
      <img src="../../../assets/images/mainpage-carousel.svg" alt="carousel" *ngIf="!isMobileView">
      <img src="../../../assets/images/Carousel2.svg" alt="carousel" *ngIf="isMobileView">
    </div>
    <div class="lil-cards">
      <div class="lil-card" *ngFor="let course of learnerCourses">
        <div>
          <div class="progress-wrapper">
            <div class="progress-text">
              <p>Прогресс</p>
              <p>{{ course.progress }}%</p>
            </div>
            <p-progressBar [value]="course.progress" [showValue]="false" class="progress-bar"></p-progressBar>
          </div>
          <h3>{{ course.name }}</h3>
        </div>
      </div>
    </div>
    <div class="course">
      <div class="kurstar-text">
        <h2>Курстар</h2>
      </div>
      <div class="kurstar-cards">
        <div class="kurstar-card" *ngFor="let course of learnerCourses" (click)="goToCourse(course.id)">
          <img [src]="course.poster" alt="subject1" class="kurs-images">
          <div class="kurs-card-content">
            <div class="kurs-info">
              <p class="bolim"><img src="../../../assets/images/bolim.svg" alt="bolim"> {{ course.modules_count }} бөлім
              </p>
              <p class="sabak"><img src="../../../assets/images/sabak.svg" alt="sabak"> {{ course.lessons_count }} сабақ
              </p>
            </div>
            <div class="subject-info">
              <h3>{{ course.name }}</h3>
            </div>
            <div class="progress-wrapper">
              <div class="progress-text">
                <p>Прогресс</p>
                <p>{{ course.progress }}%</p>
              </div>
              <p-progressBar [value]="course.progress" [showValue]="false" class="progress-bar"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kurstar">
      <div class="kurstar-text">
        <h2>Басқа курстар</h2>
      </div>
      <div class="kurstar-cards">
        <div class="kurstar-card" *ngFor="let course of otherCourses" >
          <img [src]="course.poster" alt="subject1" class="kurs-images">
          <div class="kurs-card-content">
            <div class="kurs-info">
              <p class="bolim"><img src="../../../assets/images/bolim.svg" alt="bolim"> {{ course.modules_count }} бөлім
              </p>
              <p class="sabak"><img src="../../../assets/images/sabak.svg" alt="sabak"> {{ course.lessons_count }} сабақ
              </p>
            </div>
            <div class="subject-info">
              <h3>{{ course.name }}</h3>
            </div>
            <hr class="course-divider">
            <div class="course-price-container">
              <div class="price-content">
                <p class="course-price">{{ course.price }} тг</p>
                <p class="course-payment-type">бір реттік төлем</p>
              </div>
              <button class="course-cart-button" (click)="showDialog(course.id)">Алу</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<p-dialog  [modal]="true" [(visible)]="visible" [style]="{ width: '37rem' }" draggable="false">
  <div class="main-card">
    <div class="card-img">
      <img src="../../../assets/images/kurska-jazylu-img.svg" alt="kurska-jazylu">
    </div>
    <div class="card-content">
      <h2>Курсқа жазылу</h2>
      <p>Төмендегі ақпараттарды толтырып курс жайлы ақпарат ала аласыз</p>
    </div>
    <div class="card-form">
      <form [formGroup]="orderForm">
        <div class="card-input">
          <p>Аты-жөніңіз</p>
          <input type="text" pInputText placeholder="Аты-жөніңіз" formControlName = "fullname"/>
        </div>
        <div class="card-input">
          <p>Телефон номеріңіз</p>
          <input type="text" pInputText placeholder="+7 (___) ___ __ __" [mask]="'(000) 000 00 00'" prefix="+7 " formControlName = "phone_number"/>
        </div>
        <div class="card-submit">
          <button class="card-button" (click)="submitOrder()">
            Заявка қалдыру
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
