* {
  margin: 0;
  padding: 0;
  color: #444444;
}

.main-page {
  display: flex;
  justify-content: center;
  padding: 30px 30px;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-carousel img {
  width: 100%;
  height: auto;
}

.lil-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.lil-card {
  max-width: 300px;
  padding: 13px 30px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 79px;
}

.lil-card img {
  width: 53px;
  height: 53px;
  margin: 13px;
}

.lil-card h3 {
  font-size: 20px;
  font-weight: 600;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  height: 435px;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-input p {
  font-size: 13px;
}

.card-input input {
  width: 100%;
  height: 38px;
  background-color: #fdfafa;
  padding: 10px;
}

.card-input input::placeholder {
  font-size: 11px;
  color: #DDDDDD;
}

.kurstar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kurstar-text {
  display: flex;
  justify-content: space-between;
}

.kurstar-text h2 {
  font-size: 25px;
  font-weight: 600;
}

.kurstar-text p {
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.kurstar-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.kurstar-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.kurs-images {
  width: 289px;
  height: 138px;
  object-fit: cover;
}

.subject-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.subject-info p {
  font-size: 10px;
  color: #A4A4A4;
  margin-bottom: 10px;
}

.kurs-card-content {
  display: flex;
  flex-direction: column;
  padding: 0 13px 13px 13px;
  gap: 10px;
}

.kurs-info {
  display: flex;
  gap: 7px;
}

.bolim {
  display: flex;
  gap: 8px;
  background-color: #B5E8F9;
  color: #00B0EA;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.sabak {
  display: flex;
  gap: 8px;
  background-color: #CCC7FF;
  color: #6E63E5;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
}

.progress-text {
  display: flex;
  justify-content: space-between;
}

p-progressBar {
  height: 11px;
}

.progress-wrapper p {
  font-size: 13px;
  font-weight: 300;
}

:host ::ng-deep .progress-wrapper .p-progressbar .p-progressbar-value {
  background: #2A6DB3;
}

:host ::ng-deep .progress-wrapper .p-progressbar {
  background: #f0f0f0; /* Цвет фона для незаполненной части прогресс-бара */
  height: 10px;
  border-radius: 10px;
  margin-bottom: 7px;
}



/***/


.course {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kurstar-text {
  display: flex;
  justify-content: space-between;
}

.kurstar-text h2 {
  font-size: 25px;
  font-weight: 600;
}

.kurstar-text p {
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.kurstar-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.kurstar-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.kurs-images {
  width: 289px;
  height: 138px;
  border-radius:10px;
}

.subject-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.subject-info p {
  font-size: 10px;
  color: #A4A4A4;
  margin-bottom: 10px;
}

.kurs-card-content {
  display: flex;
  flex-direction: column;
  padding: 0 13px 13px 13px;
  gap: 10px;
}

.kurs-info {
  display: flex;
  gap: 7px;
}

.bolim {
  display: flex;
  gap: 8px;
  background-color: #B5E8F9;
  color: #00B0EA;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.sabak {
  display: flex;
  gap: 8px;
  background-color: #CCC7FF;
  color: #6E63E5;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
}

.progress-text {
  display: flex;
  justify-content: space-between;
}

p-progressBar {
  height: 11px;
}

.progress-wrapper p {
  font-size: 13px;
  font-weight: 300;
}

:host ::ng-deep .progress-wrapper .p-progressbar .p-progressbar-value {
  background: #2A6DB3;
}

:host ::ng-deep .progress-wrapper .p-progressbar {
  background: #f0f0f0; /* Цвет фона для незаполненной части прогресс-бара */
  height: 10px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  height: 500px;
}

.card-button{
  padding:20px;
  background-color:#2A6DB3;
  text-align:center;
  border-radius:15px;
  border:none;
  color:white;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-submit {
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

.card-input p {
  font-size: 13px;
}

.card-input input {
  width: 100%;
  height: 38px;
  background-color: #fdfafa;
  padding: 10px;
}

.card-input input::placeholder {
  font-size: 11px;
  color: #DDDDDD;
}

.card-submit {
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

:host ::ng-deep  .p-dialog-content{
  padding:0;
}



.course-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.course-price {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}

.course-cart-button {
  background-color: transparent;
  border: 1px solid #2A6DB3;
  color: #2A6DB3;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.course-cart-button:hover {
  background-color: #2A6DB3;
  color: white;
}

.course-payment-type {
  font-size: 12px;
  color: #A4A4A4;
  text-align: left;
}

.course-divider {
  border: none;
  height: 1px;
  background-color: #444444;
  margin: 10px 0;
}

/* Responsive styles */

/*@media (max-width: 1440px) {*/
/*  .main-page {*/
/*    padding: 20px;*/
/*  }*/

/*  .lil-cards {*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-gap: 20px;*/
/*  }*/

/*  .kurstar-cards {*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-gap: 20px;*/
/*  }*/
/*}*/

@media (max-width: 1024px) {
  .main-page {
    padding: 15px;
  }

  .lil-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .kurstar-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .lil-card, .kurstar-card {
    max-width: 100%;
    padding: 10px;
  }

  .kurs-images {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .main-page {
    flex-direction: column;
    padding: 15px;
  }

  .lil-cards {
    grid-template-columns: 1fr;
  }

  .kurstar-cards {
    grid-template-columns: 1fr;
  }

  .kurs-images {
    width: 100%;
    height: auto;
  }

.bolim{
  padding:5px;
  font-size: 10px;
}

  .main-right {
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .main-page {
    padding: 10px;
  }

  .lil-card, .kurstar-card {
    padding: 10px;
    max-width: 100%;
  }

  .kurs-images {
    width: 100%;
    height: auto;
  }

  .main-left, .main-right {
    width: 100%;
    padding: 0;
  }

  .card-content h2, .subject-info h3 {
    font-size: 16px;
  }

  .card-content p, .subject-info p {
    font-size: 12px;
  }
}
