:host ::ng-deep .p-dialog-header,
:host ::ng-deep .p-dialog-content,
:host ::ng-deep .p-dialog-footer {
  /*padding: 24px;*/
  margin: 0 !important;
}

.course-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.supplier-container {
  background-color: #fff;
  padding: 28px 32px 15px;
}

.supplier-title {
  color: #1d1d42;
  font-size: 22px;
  line-height: 1;
  margin: 0 0 29px;
}

.supplier-actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-input {
  width: 230px;
  padding: 9px;
  font-size: 14px;
  border-radius: 8px 0 0 8px;
  color: #1D1D42;
  border: 2px solid #1D1D42;
}

.search-button {
  background-color: #1d1d42;
  color: #fff;
  border: none;
  padding: 11px 25px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.add-course-btn {
  background-color: #00ADEF;
  height: 40px;
  width: 95px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 10px;
}

/**Контент**/

.main-content {
  padding: 20px;
}

.content-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-y: scroll;
}

.content-buttons::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.content-button {
  display: flex;
  gap: 25px;
  padding: 30px 90px 30px 30px;
  border: none;
  background-color: #fff;
  color: #1d1d42;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;
}

.content-button.active {
  border: 1px solid #1D1D42;
}

.content-button-names {
  display: flex;
  flex-direction: column;
}

.content-button-names h3 {
  margin: 0;
}

.content-button-names p {
  text-align: left;
  color: #BABABA;
}


.content-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.kurstar-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.kurs-images {
  max-width: 289px;
  max-height: 138px;
}

.subject-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.subject-info p {
  font-size: 10px;
  color: #A4A4A4;
  margin-bottom: 10px;
}

.kurs-card-content {
  display: flex;
  flex-direction: column;
  padding: 13px;
  gap: 15px;
}

.kurs-info {
  display: flex;
  gap: 7px;
}

.bolim {
  display: flex;
  gap: 8px;
  background-color: #B5E8F9;
  color: #00B0EA;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.sabak {
  display: flex;
  gap: 8px;
  background-color: #CCC7FF;
  color: #6E63E5;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 12px;
}

.kurs-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kurs-footer button {
  display: flex;
  height: 28px;
  border: 1px solid #2A6DB3;
  background-color: white;
  color: #2A6DB3;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  font-size: 12px;
  align-items: center;
}

.kurs-price h3 {
  font-size: 17px;
  font-weight: 700;
}

.kurs-price p {
  font-size: 10px;
  color: #A4A4A4;
}

client-edit__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.client-edit__title {
  font-size: 25px;
  color: #444;
  font-weight: bold;
}

.client-edit__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-label {
  display: block;
  color: #444;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  max-width: 276px;
  padding: 12px 14px;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  background-color: #f9fafc;
  font-size: 11px;
  color: #444;
  font-weight: 500;
}

.toggle-button {
  padding: 12px 14px;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  background-color: #f9fafc;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
}

.toggle-button.active {
  background-color: #00adef;
  color: #fff;
}

.form-actions {
  display: flex;
  gap: 14px;
}

.btn {
  padding: 10px 58px;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.access-container {
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  max-width: 290px;
  padding: 10px
}

.toggle-buttons {
  color: black;
  display: flex;
  justify-content: space-between;

}

.toggle-buttons span {
  align-content: center;
}

.access-btns {
  display: flex;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.btn--secondary {
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
}

.btn--delete {
  background-color: red;
  color: white;
  border: none;
}

.btn--primary {
  background-color: #444;
  color: #fff;
  border: none;
}

.custom-file-upload {
  max-width: 277px;
  display: flex;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  width: 100%;
  background-color: #f9fafc;
  border: 1px solid #e3e3e3;
}

.file-input {
  display: none;
}

.file-upload-button {
  font-size: 13px;
  background-color: #00adef;
  color: #444444;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 9px 0 0 9px;
  flex-shrink: 0;
}

.file-upload-filename {
  font-size: 13px;
  padding: 12px 16px;
  color: #444444;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-file-upload:hover .file-upload-button {
  background-color: #009ed6;
}

.form-group button {
  height: 37px;
  background-color: #444444;
  color: white;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: block;
  margin-top: 10px;
  width: 180px;
}

.form-group1 {
  display: flex;
  gap: 50px;
}
